
<aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
    <section class="sidebar">
        <!-- <div class="relative">
            <div class="user-panel p-3 user-panel-bg light text-white mb-2">
                <div class="mt-5
            ">
                    <div class="float-left avatar avatar-md  mt-2 mr-3 image">
                        <img src="../../../assets/template2/img/dummy/u2.png" alt="User Image" class="">
                    </div>
                    <div class="float-left info">
                        <h6 class="mt-2 mb-1" >Alexander Pierce</h6>
                        <a href="#"><i class="icon-circle text-primary blink"></i> Online</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> -->
        <ul class="sidebar-menu">
            <li class="header light mt-3"><strong>FINANCE</strong></li>
            <li class="treeview ">
                <a href="#">
                    <i class="icon icon-airplay text-blue s-18"></i> <span>Loan Application</span>
                </a>
                <a href="#">
                    <i class="icon icon-notebook text-blue s-18"></i> <span>Collection Data</span>
                </a>
            </li>
            <li class="header light mt-3"><strong>ADMINISTRATOR </strong></li>
            <li class="treeview ">
                <a href="#">
                    <i class="icon icon-supervisor_account text-blue s-18"></i> <span>Account Management</span>
                </a>
            </li>
            <li class="header light mt-3"><strong>CONSOLE </strong></li>
            <li class="treeview ">
                <a href="#">
                    <i class="icon icon-wpforms text-blue s-18"></i> <span>Koperasi Registration</span>
                </a>
            </li>
            <li class="header light mt-3"><strong>SETTING & CONFIGURATION </strong></li>
            <li class="treeview ">
                <a href="#">
                    <i class="icon icon-padlock s-18 text-blue"></i> <span>Change Password</span>
                </a>
                <a href="#">
                    <i class="icon icon-documents3 text-blue s-18"></i> <span>Member Data Capture</span>
                </a>
                <a href="#">
                    <i class="icon icon-goals-1 text-blue s-18"></i> <span>Loan Formulla</span>
                </a>
                <a href="#">
                    <i class="icon icon-playlist_add_check text-blue s-18"></i> <span>Approval Config</span>
                </a>
                <a href="#">
                    <i class="icon icon-calendar text-blue s-18"></i> <span>Cut Off Time</span>
                </a>
            </li>
        </ul>
    </section>
</aside>


