<app-modalloading *ngIf="loadingshow"></app-modalloading>
<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12" >
                                        <div style="border: solid 0.3px #c2c2c2;  padding: 14px 13.4px 19.5px 11px;  border-radius: 11.3px;">
                                            <h5 style="font-size:16px;color:#545454"> Data Koperasi</h5>
                                        <div class="line"></div>
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="text-red">Nama Koperasi*</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" [formControl]="namakoperasiFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label>Nomor Badan Hukum Pendirian</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input FrontDigitOnly type="number" class="form-control" [formControl]="nomorbadanhukumpendirianFc" style="font-family: 'SegoeUI'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label>Tanggal Badan Hukum Pendirian</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="date" class="form-control" [formControl]="tanggalbadanhukumberdiriFc" style="font-family: 'SegoeUI'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label>Nomor Perubahan Anggaran Dasar Terbaru</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input FrontDigitOnly type="number" class="form-control" [formControl]="nomorperubahananggarandasarterbaruFc" style="font-family: 'SegoeUI'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label>Tanggal Perubahan Anggaran Dasar Terbaru</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="date" class="form-control" [formControl]="tanggalperubahananggarandasarFc" style="font-family: 'SegoeUI'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label>Tanggal RAT Terakhir</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="date" class="form-control" [formControl]="tanggalratterakhirFc" style="font-family: 'SegoeUI'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="text-red">Alamat (Sesuai Akta)*</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" [formControl]="alamatsesuaiaktaFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="text-red">Provinsi *</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <select [formControl]="fcselectprovinsi" class="form-control" style="font-size: 10pt;" (change)="changeprovinsi()">
                                                            <option [value]="[data.id,data.name]" *ngFor="let data of listprovinsi">{{data.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="text-red">Kota / Kabupaten*</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <select [formControl]="fcselectkabupaten" class="form-control" style="font-size: 10pt;" (change)="changekabupaten()">
                                                            <option [value]="[data.id,data.name]" *ngFor="let data of listkabupaten">{{data.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="text-red">Kecamatan*</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <select [formControl]="fcselectkecamatan" class="form-control" style="font-size: 10pt;" (change)="changekecamatan()">
                                                            <option [value]="[data.id,data.name]" *ngFor="let data of listkecamatan">{{data.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="text-red">Kelurahan / Desa*</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <select [formControl]="fcselectkelurahan" class="form-control" style="font-size: 10pt;">
                                                            <option [value]="[data.id,data.name]" *ngFor="let data of listkelurahan">{{data.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label>Kode Pos</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" [formControl]="kodeposFc" style="font-family: 'SegoeUI'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label>Bentuk Koperasi</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" [formControl]="bentukkoperasiFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-2">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="text-red">Jenis Koperasi*</label>
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" [formControl]="jeniskoperasiFc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="12">
                                        <div style="border: solid 0.3px #c2c2c2;  padding: 14px 13.4px 19.5px 11px;  border-radius: 11.3px;">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h5 style="font-size:16px;color:#545454"> Data Pengurus</h5>
                                                    <div class="line"></div>
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label class="text-red">Nama Lengkap Ketua*</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <input type="text" class="form-control" [formControl]="namalengkapketuaFc">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label>Nama Lengkap Sekretaris</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <input type="text" class="form-control" [formControl]="namalengkapsekretarisFc">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label>Nama Lengkap Bendahara</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <input type="text" class="form-control" [formControl]="namalengkapbendaharaFc">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label>Foto KTP Ketua</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <!-- <input type="file" class="w-100" #imageInput type="file" accept=".jpeg,.png,.jpg"
                                                            (change)="processFile($event)"> -->
                                                            <label class="btn custom-input-btn">
                                                                <input type="file" name="photo" style="display:none" accept="*" accept=".jpeg,.png,.jpg" #imageInput (change)="processFile($event)">        
                                                                <i class="fa fa-cloud-upload"></i> {{namechoosefile}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label>Nama Pengelola Harian Koperasi</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <input type="text" class="form-control" [formControl]="namapengelolahariankoperasiFc">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="12 mt-4">
                                        <div style="border: solid 0.3px #c2c2c2;  padding: 14px 13.4px 19.5px 11px;  border-radius: 11.3px;">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h5 style="font-size:16px;color:#545454"> Data Kelembagaan</h5>
                                                    <div class="line"></div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label>Jumlah Anggota Pria</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <input FrontDigitOnly type="number" class="form-control" [formControl]="jumlahanggotapriaFc" style="font-family: 'SegoeUI'">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label>Jumlah Anggota Wanita</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <input FrontDigitOnly type="number" class="form-control" [formControl]="jumlahanggotawanitaFc" style="font-family: 'SegoeUI'">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label>Total Manajer</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <input FrontDigitOnly type="number" class="form-control" [formControl]="totalmanajerFc" style="font-family: 'SegoeUI'">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="12 mt-4" >
                                        <div style="border: solid 0.3px #c2c2c2;  padding: 14px 13.4px 19.5px 11px;  border-radius: 11.3px;">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h5 style="font-size:16px;color:#545454"> Data Lainnya</h5>
                                                    <div class="line"></div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label class="text-red">Nomor Induk Koperasi*</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <input FrontDigitOnly type="number" class="form-control" [formControl]="nomorindukkoperasiFc" style="font-family: 'SegoeUI'">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label>Status Nomor Induk Koperasi</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <input type="text" class="form-control" [formControl]="statusnomorindukkoperasiFc" style="font-family: 'SegoeUI'">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label>Status Grade</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <input type="text" class="form-control" [formControl]="statusgradeFc">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="12 mt-4" >
                                        <div style="border: solid 0.3px #c2c2c2;  padding: 14px 13.4px 19.5px 11px;  border-radius: 11.3px;">
                                            <div class="row">
                                                <div class="col-12">
                                            <h5 style="font-size:16px;color:#545454"> Kontak</h5>
                                            <div class="line"></div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Jabatan</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" class="form-control" [formControl]="jabatanFc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="text-red">Nomor Handphone *</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" class="form-control" [formControl]="nomorhandphoneFc" style="font-family: 'SegoeUI'"> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="text-red">Email*</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="email" class="form-control" [formControl]="emailFc">
                                                </div>
                                            </div>
                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-5">
                                <div class="row justify-content-center">
                                    <div class="col-3">
                                        <button class="btn btn-primary w-100" (click)="simpan()">Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div bsModal #konfirmasimodal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" role="document" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="konfirmasimodal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <div class="row">
                    <div class="col-12 text-center">
                        {{contentkonfirmasi}}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="btnya()">Ya</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-notification></app-notification>

