<app-modalsuccess *ngIf="showsuccessmodal"></app-modalsuccess>
<app-modalerror *ngIf="showerrormodal"></app-modalerror>
<div class="col-md-12">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h2><strong>Member Data Capture</strong></h2>
        </div>
    </div>
</div>

<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
            <div class="row">
                <div class="col-12 mt-1">
                    <div class="row justify-content-center">
                        <div class="container">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" (click)="clicknavtab('personal')" id="navtabpersonal" style="cursor: pointer;">Personal</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" (click)="clicknavtab('address')" id="navtabaddress" style="cursor: pointer;">Address</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" (click)="clicknavtab('occupation')" id="navtaboccupation" style="cursor: pointer;">Occupation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" (click)="clicknavtab('emergency')" id="navtabemergency" style="cursor: pointer;">Emergency</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="personal" class="container tab-pane active"><br>
                                    <div class="row">
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getjenisidentitas"
                                                        (change)="FieldsChange($event,'jenisidentitas' , 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Jenis Identitas
                                                </div>
                                                <div class="col-2">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="ktp">KTP</option>
                                                        <option value="sim">SIM</option>
                                                        <option value="paspor">Paspor</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getnoidentitas"
                                                        (change)="FieldsChange($event,'noidentitas' , 'click' )" type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    No Indentitas
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getnamalengkapsesuaiktp"
                                                        (change)="FieldsChange($event,'namalengkapsesuaiktp', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Nama Lengkap Sesuai KTP
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="gettanggallahir"
                                                        (change)="FieldsChange($event,'tanggallahir', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Tanggal Lahir
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getjeniskelamin"
                                                        (change)="FieldsChange($event,'jeniskelamin', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Jenis Kelamin
                                                </div>
                                                <div class="col-2">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="pria">Pria</option>
                                                        <option value="wanite">Wanita</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getnamagadisibukandung"
                                                        (change)="FieldsChange($event,'namagadisibukandung', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Nama Gadis Ibu Kandung
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getstatusperkawinan"
                                                        (change)="FieldsChange($event,'statusperkawinan', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Status Perkawinan
                                                </div>
                                                <div class="col-2">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="kawin">Kawin</option>
                                                        <option value="belumkawin">Belum Kawin</option>
                                                        <option value="cerai">Cerai</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getpendidikanterakhir"
                                                        (change)="FieldsChange($event,'pendidikanterakhir', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Pendidikan Terakhir
                                                </div>
                                                <div class="col-2">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="sd">SD</option>
                                                        <option value="smp">SMP</option>
                                                        <option value="sma">SMA</option>
                                                        <option value="d3">D3</option>
                                                        <option value="s1">S1</option>
                                                        <option value="lainnya">Lainnya</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1 mt-5">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <button class="btn w-100" type="button" style="background: darkcyan;color: white;"
                                                        (click)="savenavtab()">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="address" class="container tab-pane fade"><br>
                                    <div class="row">
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getjalan" (change)="FieldsChange($event,'jalan', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat sesuai KTP : Jalan
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getnomer" (change)="FieldsChange($event,'nomer', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat sesuai KTP : Nomor
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getrt" (change)="FieldsChange($event,'rt', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat sesuai KTP : RT
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getrw" (change)="FieldsChange($event,'rw', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat sesuai KTP : RW
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getkelurahan"
                                                        (change)="FieldsChange($event,'kelurahan', 'click' )" type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat sesuai KTP : Kelurahan
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getkecamatan"
                                                        (change)="FieldsChange($event,'kecamatan', 'click' )" type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat sesuai KTP : Kecamatan
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getstatustempattinggalktp"
                                                        (change)="FieldsChange($event,'statustempattinggalktp', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat sesuai KTP : Status Tempat Tinggal
                                                </div>
                                                <div class="col-4">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="milikscenteriri">Milik Scenteriri</option>
                                                        <option value="milikkeluarga">Milik Keluarga</option>
                                                        <option value="rumahdinas">Rumah Dinas</option>
                                                        <option value="sewakotrak">Sewa / Kontrak</option>
                                                        <option value="kost">Kost</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getlamatinggalktp"
                                                        (change)="FieldsChange($event,'lamatinggalktp', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat sesuai KTP : Lama Tinggal
                                                </div>
                                                <div class="col-4">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="bulan/tahun">xxx bulan / tahun</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getapakahalamatsesuaidomisili"
                                                        (change)="FieldsChange($event,'apakahalamatsesuaidomisili', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Apakah alamat domisili sama dengan KTP ?
                                                </div>
                                                <div class="col-4">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="bulan/tahun">Ya / Tidak, jika ya langsung copy
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getdomisilijalan"
                                                        (change)="FieldsChange($event,'domisilijalan', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat domisili : Jalan
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getdomisilinomer"
                                                        (change)="FieldsChange($event,'domisilinomer', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat domisili : Nomor
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getdomisilirt"
                                                        (change)="FieldsChange($event,'domisilirt', 'click' )" type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat domisili : RT
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getdomisilirw"
                                                        (change)="FieldsChange($event,'domisilirw', 'click' )" type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat domisili : RW
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getdomisilikelurahan"
                                                        (change)="FieldsChange($event,'domisilikelurahan', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat domisili : Kelurahan
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getdomisilikecamatan"
                                                        (change)="FieldsChange($event,'domisilikecamatan', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat domisili : Kecamatan
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getkotaprovinsi"
                                                        (change)="FieldsChange($event,'kotaprovinsi', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat domisili : Kota / Provinsi
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getstatustempattinggal"
                                                        (change)="FieldsChange($event,'statustempattinggal', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat domisili : Status Tempat Tinggal
                                                </div>
                                                <div class="col-4">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="milikscenteriri">Milik Scenteriri</option>
                                                        <option value="milikkeluarga">Milik Keluarga</option>
                                                        <option value="rumahdinas">Rumah Dinas</option>
                                                        <option value="sewakontrak">Sewa / Kontrak</option>
                                                        <option value="Kost">Kost</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getlamatinggal"
                                                        (change)="FieldsChange($event,'lamatinggal', 'click' )" type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Alamat domisili : Lama Tinggal
                                                </div>
                                                <div class="col-4">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="bulan/tahun">xxx bulan / tahun</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1 mt-5">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <button class="btn w-100" type="button" (click)="savenavtab()" style="background: darkcyan;color: white;">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="occupation" class="container tab-pane fade"><br>
                                    <div class="row">
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getmemilikinpwp"
                                                        (change)="FieldsChange($event,'memilikinpwp', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Memiliki NPWP
                                                    
                                                </div>
                                                <div class="col-2">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="ada">Ada</option>
                                                        <option value="tidakada">Tidak Ada</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getnomernpwp"
                                                        (change)="FieldsChange($event,'nomernpwp', 'click' )" type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Nomor NPWP
                                                    
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getpekerjausaha"
                                                        (change)="FieldsChange($event,'pekerjausaha', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Pekerjaan / Usaha
                                                </div>
                                                <div class="col-3">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="pelajarmahasiswa">Pelajar / Mahasiswa</option>
                                                        <option value="pegawaiswasta">Pegawai Swasta</option>
                                                        <option value="pegawainegeri">Pegawai Negeri</option>
                                                        <option value="gurudosen">Guru / Dosen</option>
                                                        <option value="tnipolri">TNI / POLRI</option>
                                                        <option value="pensiunan">Pensiunan</option>
                                                        <option value="wiraswasta">Wiraswasta</option>
                                                        <option value="profesionallainnya">Profesional Lainnya</option>
                                                        <option value="iburumahtangga">Ibu Rumah Tangga</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 mt-1">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <input [checked]="getbidangpekerjaanusaha"
                                                                (change)="FieldsChange($event,'bidangpekerjaanusaha', 'click' )"
                                                                type="checkbox" />
                                                        </div>
                                                        <div class="col-4">
                                                            Bidang Pekerjaan / Usaha
                                                        </div>
                                                        <div class="col-4">
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-1">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <input [checked]="getposisijabatan"
                                                                (change)="FieldsChange($event,'posisijabatan', 'click' )"
                                                                type="checkbox" />
                                                        </div>
                                                        <div class="col-4">
                                                            Posisi / Jabatan
                                                        </div>
                                                        <div class="col-4">
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-1">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <input [checked]="getnamaperusahaanusaha"
                                                                (change)="FieldsChange($event,'namaperusahaanusaha', 'click' )"
                                                                type="checkbox" />
                                                        </div>
                                                        <div class="col-4">
                                                            Nama Perusahaan / Usaha
                                                        </div>
                                                        <div class="col-4">
                                                            <input type="text">
                                                        </div>
                                                        <div class="col-12 mt-1">
                                                            <div class="row">
                                                                <div class="col-1">
                                                                    <input [checked]="getlamabekerjausaha"
                                                                        (change)="FieldsChange($event,'lamabekerjausaha', 'click' )"
                                                                        type="checkbox" />
                                                                </div>
                                                                <div class="col-4">
                                                                    Lama Bekerja / Usaha
                                                                </div>
                                                                <div class="col-3">
                                                                    <select style="width: 100%;" class="form-control-use">
                                                                        <option value="bulantahun">xxx bulan / tahun
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-1">
                                                            <div class="row">
                                                                <div class="col-1">
                                                                    <input [checked]="getpenghasilanomsetusaha"
                                                                        (change)="FieldsChange($event,'penghasilanomsetusaha', 'click' )"
                                                                        type="checkbox" />
                                                                </div>
                                                                <div class="col-4">
                                                                    Penghasilan / Omset usaha
                                                                </div>
                                                                <div class="col-4">
                                                                    <input type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-1">
                                                            <div class="row">
                                                                <div class="col-1">
                                                                    <input [checked]="getalamatkantorjalan"
                                                                        (change)="FieldsChange($event,'alamatkantorjalan', 'click' )"
                                                                        type="checkbox" />
                                                                </div>
                                                                <div class="col-4">
                                                                    Alamat Kantor : Jalan
                                                                </div>
                                                                <div class="col-4">
                                                                    <input type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-1">
                                                            <div class="row">
                                                                <div class="col-1">
                                                                    <input [checked]="getalamatkantornomer"
                                                                        (change)="FieldsChange($event,'alamatkantornomer', 'click' )"
                                                                        type="checkbox" />
                                                                </div>
                                                                <div class="col-4">
                                                                    Alamat Kantor : Nomor
                                                                </div>
                                                                <div class="col-4">
                                                                    <input type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-1">
                                                            <div class="row">
                                                                <div class="col-1">
                                                                    <input [checked]="getalamatkantorrt"
                                                                        (change)="FieldsChange($event,'alamatkantorrt', 'click' )"
                                                                        type="checkbox" />
                                                                </div>
                                                                <div class="col-4">
                                                                    Alamat Kantor : RT
                                                                </div>
                                                                <div class="col-4">
                                                                    <input type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-1">
                                                            <div class="row">
                                                                <div class="col-1">
                                                                    <input [checked]="getalamatkantorrw"
                                                                        (change)="FieldsChange($event,'alamatkantorrw', 'click' )"
                                                                        type="checkbox" />
                                                                </div>
                                                                <div class="col-4">
                                                                    Alamat Kantor : RW
                                                                </div>
                                                                <div class="col-4">
                                                                    <input type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-1">
                                                            <div class="row">
                                                                <div class="col-1">
                                                                    <input [checked]="getalamatkantorkelurahan"
                                                                        (change)="FieldsChange($event,'alamatkantorkelurahan', 'click' )"
                                                                        type="checkbox" />
                                                                </div>
                                                                <div class="col-4">
                                                                    Alamat Kantor : Kelurahan
                                                                </div>
                                                                <div class="col-4">
                                                                    <input type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-1">
                                                            <div class="row">
                                                                <div class="col-1">
                                                                    <input [checked]="getalamatkantorkecamatan"
                                                                        (change)="FieldsChange($event,'alamatkantorkecamatan', 'click' )"
                                                                        type="checkbox" />
                                                                </div>
                                                                <div class="col-4">
                                                                    Alamat Kantor : Kecamatan
                                                                </div>
                                                                <div class="col-4">
                                                                    <input type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mt-1">
                                                            <div class="row">
                                                                <div class="col-1">
                                                                    <input [checked]="getalamatkantorkotaprovinsi"
                                                                        (change)="FieldsChange($event,'alamatkantorkotaprovinsi', 'click' )"
                                                                        type="checkbox" />
                                                                </div>
                                                                <div class="col-4">
                                                                    Alamat Kantor : Kota / Provinsi
                                                                </div>
                                                                <div class="col-4">
                                                                    <input type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-1 mt-5">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <button class="btn w-100" type="button" (click)="savenavtab()" style="background: darkcyan;color: white;">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="emergency" class="container tab-pane fade"><br>
                                    <div class="row">
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getnama" (change)="FieldsChange($event,'nama', 'click' )"
                                                        type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Nama
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="getnohandphone"
                                                        (change)="FieldsChange($event,'nohandphone', 'click' )" type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    No Handphone
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-12 mt-1">
                                            <div class="row">
                                                <div class="col-1">
                                                    <input [checked]="gethubungan"
                                                        (change)="FieldsChange($event,'hubungan', 'click' )" type="checkbox" />
                                                </div>
                                                <div class="col-4">
                                                    Hubungan
                                                </div>
                                                <div class="col-2">
                                                    <select style="width: 100%;" class="form-control-use">
                                                        <option value="suamiistri">Suami / Istri</option>
                                                        <option value="Saudara Kandung">Saudara Kandung</option>
                                                        <option value="anak">Anak</option>
                                                        <option value="orangtua">Orang Tua</option>
                                                        <option value="lainnya">Lainnya</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 mt-1 mt-5">
                                                    <div class="row justify-content-center">
                                                        <div class="col-3">
                                                            <button class="btn w-100"
                                                                type="button" (click)="savenavtab()" style="background: darkcyan;color: white;">Save</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>