<app-modalloading *ngIf="loadingshow"></app-modalloading>
<div id="primary" class="height-full login-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto mx-md-auto">
                <div class="form-container">
                    
                    <form>
                        <div class="text-center mb-4"><img width="150px" src="assets/images/Logo.png"></div>
                        <div class="text-center"><p class="welcome">Selamat Datang</p></div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg form-input"
                                   placeholder="Username" #userinput>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-lg f-12 form-input"
                                   placeholder="Password" (keyup)="keyuplogin($event , userinput.value , password.value)" #password>
                        </div>
                        <button type="button" class="btn btn-success btn-lg btn-block btn-login" (click)="login(userinput.value , password.value)">Masuk</button>
                    </form>
                    <div class="text-right"><span class="forget-pass f-10 btn forgot" (click)="forgotPassword()">Lupa Password?</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-notification></app-notification>