.login-container{
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    .form-container{
        width: 663.9px;
        padding: 69px 170px 69px 170px;
        border-radius: 7px;
        border: solid 2px #e6e6e6;
        background-color: rgba(255, 255, 255, 0.9);
        .form-input{
            border-radius: 9.7px;
            border: solid 1px #b3b3b3;
            background-color: #fbfbfb;
            height: 45px !important;
            font-size: 12px !important;
        }
        .welcome{
            color: #4d4d4d;
            font-size: 17.3px;
        }
        .btn-login{
            width: 324px;
            height: 45px;
            padding: 12px 133px 13px 139px;
            border-radius: 9.7px;
            background-image: linear-gradient(to bottom, #27a8df -48%, #2b398e 214%);
            display: flex;
            align-items: center;
            font-size: 17.3px;
        }
        .forgot{
            color: #4d4d4d;
            font-size: 10px;
        }
    }
}