<div id="primary" class="p-t-b-100 height-full ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-md-auto">
                <div class="text-center">
                    <img src="../../../../assets/template2/img/dummy/u4.png" alt="">
                    <h3 class="mt-2">Welcome Back</h3>
                    <p class="p-t-b-20">Hey Soldier welcome back signin now there is lot of new stuff waiting
                        for you</p>
                </div>
                <form>
                    <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                        <input type="text" class="form-control form-control-lg f-12"
                               placeholder="Username" #userinput>
                    </div>
                    <div class="form-group has-icon"><i class="icon-user-secret"></i>
                        <input type="text" class="form-control form-control-lg f-12"
                               placeholder="Password" #password>
                    </div>
                    <button type="button" class="btn btn-success btn-lg btn-block" (click)="login(userinput.value , password.value)">Sign In</button>
                    <p class="forget-pass">Have you forgot your username or password ?</p>
                        <app-alerts *ngIf="trigeralerts"></app-alerts>
                </form>
            </div>
        </div>
    </div>
</div>