<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body" *ngIf="anggotasimpananshowdetail">
            <div class="col-12">
                <div class="row justify-content-between">
                    <div class="col-12 mt-4">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <label class="text-center w-100" style="  border: solid 1px #c2c2c2;border-radius: 23px;background-color: #eff7ff;color: #1b75bc;font-weight: bold; padding-top: 5px;padding-bottom: 5px;">{{namesimpanan}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-12" *ngIf="listdatasimpanananggotadetail.length > 0">
                                <table style="width: 100%; text-align: center;" *ngFor="let item of listdatasimpanananggotadetail">
                                    <tr style="background-color: #f3f7fd; font-size: 14px; color: #414141">
                                        <th>Produk Pinjaman</th>
                                        <th>{{item.nama_produk}}</th>
                                    </tr>
                                    <tr style="background-color: #f3f7fd; font-size: 14px; color: #414141">
                                        <th>Status Pinjaman</th>
                                        <th>{{item.desc_status}}</th>
                                    </tr>
                                    <tr style="color: #707070;font-size: 13px;">
                                        <th (click)="detailsimpananbytype('simpanan_pokok' , item.id , item.nama_produk)">Simpanan Pokok</th>
                                        <th style="font-family: 'SegoeUI'">Rp. {{utilSvc.formatNumber(item.SimpananPokok[0].total_simpanan)}}</th>
                                    </tr>
                                    <tr style="color: #707070;font-size: 13px;">
                                        <th (click)="detailsimpananbytype('simpanan_wajib' , item.id , item.nama_produk)" >Simpanan Wajib</th>
                                        <th style="font-family: 'SegoeUI'">Rp. {{utilSvc.formatNumber(item.SimpananWajib[0].total_simpanan)}}</th>
                                    </tr>
                                    <tr style="color: #707070;font-size: 13px;">
                                        <th (click)="detailsimpananbytype('simpanan_sukarela' , item.id , item.nama_produk)" >Simpanan Sukarela</th>
                                        <th style="font-family: 'SegoeUI'" >Rp. {{utilSvc.formatNumber(item.SimpananSukarela[0].total_simpanan)}}</th>
                                    </tr>
                                    <tr style="background-color: #f3f7fd; font-size: 14px; color: #414141">
                                        <th>Total Simpanan</th>
                                        <th style="font-family: 'SegoeUI'">Rp. {{utilSvc.formatNumber(item.SimpananPokok[0].total_simpanan+item.SimpananWajib[0].total_simpanan+item.SimpananSukarela[0].total_simpanan)}}</th>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-12 text-center" *ngIf="listdatasimpanananggotadetail.length === 0">
                                No data...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body load-container" *ngIf="!anggotasimpananshowdetail">
            <div class="col-12 text-center">
                Load Data ...
            </div>
        </div>
    </div>
</div>