<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body" *ngIf="anggotasimpananshow">
            <div class="col-12">
                <div class="row justify-content-between">
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-3">
                                <div class="row">
                                    <div class="col-9">
                                        <input type="text" class="form-control" placeholder="Cari" [formControl]="searchFc">
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-primary" (click)="search()">Cari</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-12" *ngIf="listdatasimpanananggota.length > 0">
                                <table style="width: 100%; text-align: center;">
                                    <tr style="background-color: #f3f7fd; font-size: 14px; color: #707070">
                                        <th>No</th>
                                        <th class="text-center">Nama Anggota</th>
                                    </tr>
                                    <tr *ngFor="let item of dataSearchShow ? listDataSearch : listdatasimpanananggota; let i = index">
                                        <td>{{i + 1}}.</td>
                                        <td class="text-center" (click)="detailmember(item.member_id , item.nama_lengkap)" style="cursor: pointer;">{{item.nama_lengkap}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-12 text-center" *ngIf="listdatasimpanananggota.length === 0 || (dataSearchShow && listDataSearch.length === 0)">
                                No data...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body load-container" *ngIf="!anggotasimpananshow">
            <div class="col-12 text-center">
                Load Data ...
            </div>
        </div>
    </div>
</div>