.offcanvas .sidebar-menu>li {
  border-bottom: none !important;
}
.menu{
  color: #707070 !important;
  font-size: 12px !important;
  font-weight: 500;
}
.navbar .nav {
    > li {
      &.dropdown {
        /* Keep dropdown menu of active menu item always visible */
        &.open,
        &.active,
        &.open.active {
          > .dropdown-menu {
            display: block;
          }
        }
        /* Place dropdown menu of hovered menu item above all other menu items in case they overlap each other */
        &.hover {
          > .dropdown-menu {
            display: block;
            z-index: 9999;
          }
        }
      }
    }
  }
  .sub-select {
    color: #1b75bc !important;
    background-color: white;
  }
  .nav-select {
    cursor: pointer;
    background-image: linear-gradient(to bottom, #27a8df, #2b398e);
    font-size: 12px;
    color: white;
    span {
      color: white;
    }
    i {
      color: white;
    }
    &:hover {
      background-color: darkcyan !important;
      color: white;
      span {
        color: white;
      }
      i {
        color: white;
      }
    }
  }
  .treeview{
      a{
          cursor: pointer;
      }
  }
  
  