<aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="mt-4 mb-4 text-center" style="border-bottom: none;"><strong>PEERS</strong></li>
            <!-- <li class="header light mt-3" ><strong>CONSOLE </strong></li> -->
            <li class="treeview" *ngIf="trigeraccount === 'Admin Peers'">
                <a [class.nav-select]="active === 'list-koperasi'" [class.!nav-select]="active !== 'list-koperasi'"
                    (click)="goTo('list-koperasi')"><i [class.text-white]="active === 'list-koperasi'"
                        [class.text-blue]="active !== 'list-koperasi'" class="icon icon-wpforms s-18"></i>
                    <span>Daftar Koperasi</span></a>
            </li>
            <li class="treeview" *ngIf="trigeraccount === 'Admin Peers' ">
                <a [class.nav-select]="active === 'pendaftaran-koperasi'"
                    [class.!nav-select]="active !== 'pendaftaran-koperasi'" (click)="goTo('pendaftaran-koperasi')"><i
                        [class.text-white]="active === 'pendaftaran-koperasi'"
                        [class.text-blue]="active !== 'pendaftaran-koperasi'" class="icon icon-wpforms s-18"></i>
                    <span>Pendaftaran Koperasi</span></a>
            </li>
            <li class="treeview" *ngIf="trigeraccount !== 'Admin Peers'">
                <a [class.nav-select]="active === 'kinerja-koperasi'" [class.!nav-select]="active !== 'kinerja-koperasi'"
                    (click)="goTo('kinerja-koperasi')"><i [class.text-white]="active === 'kinerja-koperasi'"
                        [class.text-blue]="active !== 'kinerja-koperasi'" class="icon icon-wpforms s-18"></i>
                    <span>Kinerja Koperasi</span></a>
            </li>
            <li class="header light mt-3" *ngIf="menupengaturan"><strong>PENGATURAN PINJAMAN</strong></li>
            <li class="treeview "  *ngIf="menupengaturan">
                <a
                    [class.nav-select]="active === 'pengaturan-parameter-pinjaman'" [class.!nav-select]="active !== 'pengaturan-parameter-pinjaman'"
                    (click)="goTo('pengaturan-parameter-pinjaman')"><i [class.text-white]="active === 'pengaturan-parameter-pinjaman'"
                        [class.text-blue]="active !== 'pengaturan-parameter-pinjaman'" class="icon icon-wpforms s-18"></i> <span>
                            Parameter Pinjaman</span></a>
            </li>
            <li class="treeview "  *ngIf="menupengaturan">
                <a
                    [class.nav-select]="active === 'pengaturan-struktur-pinjaman'" [class.!nav-select]="active !== 'pengaturan-struktur-pinjaman'"
                    (click)="goTo('pengaturan-struktur-pinjaman')"><i [class.text-white]="active === 'pengaturan-struktur-pinjaman'"
                        [class.text-blue]="active !== 'pengaturan-struktur-pinjaman'" class="icon icon-wpforms s-18"></i> <span>
                            Struktur Pinjaman</span></a>
            </li>
            <li class="treeview "  *ngIf="menupengaturan">
                <a
                    [class.nav-select]="active === 'pengaturan-template-data-anggota'" [class.!nav-select]="active !== 'pengaturan-template-data-anggota'"
                    (click)="goTo('pengaturan-template-data-anggota')"><i [class.text-white]="active === 'pengaturan-template-data-anggota'"
                        [class.text-blue]="active !== 'pengaturan-template-data-anggota'" class="icon icon-wpforms s-18"></i> <span>
                            Template Data Anggota</span></a>
            </li>
            <li class="treeview "  *ngIf="menumanajemenakun">
                <a
                    [class.nav-select]="active === 'management-akun'" [class.!nav-select]="active !== 'management-akun'"
                    (click)="goTo('management-akun')"><i [class.text-white]="active === 'management-akun'"
                        [class.text-blue]="active !== 'management-akun'" class="icon icon-wpforms s-18"></i> <span>
                            Manajemen Akun</span></a>
            </li>
            <li class="treeview "  *ngIf="menumanajemenpinjaman">
                <a
                    [class.nav-select]="active === 'management-pinjaman'" [class.!nav-select]="active !== 'management-pinjaman'"
                    (click)="goTo('management-pinjaman')"><i [class.text-white]="active === 'management-pinjaman'"
                        [class.text-blue]="active !== 'management-pinjaman'" class="icon icon-wpforms s-18"></i> <span>
                            Manajemen Pinjaman</span></a>
            </li>
            <li class="header light mt-3" *ngIf="menumanajemenanggota"><strong>Manajemen Anggota</strong></li>
            <li class="treeview "  *ngIf="menumanajemenanggota">
                <a
                    [class.nav-select]="active === 'management-anggota-pinjaman'" [class.!nav-select]="active !== 'management-anggota-pinjaman'"
                    (click)="goTo('management-anggota-pinjaman')"><i [class.text-white]="active === 'management-anggota-pinjaman'"
                        [class.text-blue]="active !== 'management-anggota-pinjaman'" class="icon icon-wpforms s-18"></i> <span>
                            Pinjaman</span></a>
            </li>
            <li class="treeview "  *ngIf="menumanajemenanggota">
                <a
                    [class.nav-select]="active === 'management-anggota-simpanan'" [class.!nav-select]="active !== 'management-anggota-simpanan'"
                    (click)="goTo('management-anggota-simpanan')"><i [class.text-white]="active === 'management-anggota-simpanan'"
                        [class.text-blue]="active !== 'management-anggota-simpanan'" class="icon icon-wpforms s-18"></i> <span>
                            Simpanan</span></a>
            </li>
            <li class="header light mt-3"><strong>SETTING & CONFIGURATION </strong></li>
            <li class="treeview ">
                <a
                    [class.nav-select]="active === 'ganti-password'" [class.!nav-select]="active !== 'ganti-password'"
                    (click)="goTo('ganti-password')"><i [class.text-white]="active === 'ganti-password'"
                        [class.text-blue]="active !== 'ganti-password'" class="icon icon-wpforms s-18"></i> <span>Ganti
                        Password</span></a>
            </li>
        </ul>
    </section>
</aside>