<app-modalloading *ngIf="loadingshow"></app-modalloading>
<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body" *ngIf="koperasishow">
            <div class="col-12">
                <div class="row justify-content-between">
                    <div class="col-6 mt-4">
                        <input type="text" class="form-control w-100" placeholder="search..." >
                        <button class="btn btn-primary btn-cari">Cari</button>
                    </div>
                    <div class="col-12 mt-5">
                        <div class="row">
                            <div class="col-12" *ngIf="listkoperasi.length > 0">
                                <table style="width: 100%">
                                    <tr>
                                        <th>No</th>
                                        <th>Tanggal Registrasi</th>
                                        <th>Nama Koperasi</th>
                                        <th>Jumlah Anggota</th>
                                        <th>Kontak Email</th>
                                        <th></th>
                                    </tr>
                                    <tr *ngFor="let item of listkoperasi; let i  = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item.createdAt.split('T')[0]}}</td>
                                        <td>{{item.nama_koperasi}}</td>
                                        <td>{{item.total_karyawan}}</td>
                                        <td>{{item.email_pengurus}}</td>
                                        <td><button class="btn btn-primary" (click)="edit(item.id)">Edit</button></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-12 text-center" *ngIf="listkoperasi.length === 0">
                                No data...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body load-container" *ngIf="!koperasishow">
            <div class="col-12 text-center">
                Load Data ...
            </div>
        </div>
    </div>
</div>
<div bsModal #listkoperasimodal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="listkoperasimodal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <div class="col-12 pl-5 pr-5" *ngIf="datalistkoperasishow">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <h5>Data Koperasi</h5>
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="text-red">Nama Koperasi*</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" class="form-control" [formControl]="namakoperasiFc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Nomor Badan Hukum Pendirian</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" class="form-control" [formControl]="nomorbadanhukumpendirianFc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Tanggal Badan Hukum Pendirian</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="date" class="form-control" [formControl]="tanggalbadanhukumberdiriFc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Nomor Perubahan Anggaran Dasar Terbaru</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" class="form-control" [formControl]="nomorperubahananggarandasarterbaruFc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Tanggal Perubahan Anggaran Dasar Terbaru</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="date" class="form-control" [formControl]="tanggalperubahananggarandasarFc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Tanggal RAT Terakhir</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="date" class="form-control" [formControl]="tanggalratterakhirFc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="text-red">Alamat (Sesuai Akta)*</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" class="form-control" [formControl]="alamatsesuaiaktaFc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="text-red">Provinsi *</label>
                                                </div>
                                                <div class="col-6">
                                                    <select [formControl]="fcselectprovinsi" class="form-control" style="font-size: 10pt;" (change)="changeprovinsi()" id="provinsiselected">
                                                        <option [value]="[data.id,data.name]" *ngFor="let data of listprovinsi">{{data.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="text-red">Kota / Kabupaten*</label>
                                                </div>
                                                <div class="col-6">
                                                    <select [formControl]="fcselectkabupaten" class="form-control" style="font-size: 10pt;" (change)="changekabupaten()">
                                                        <option [value]="[data.id,data.name]" *ngFor="let data of listkabupaten">{{data.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="text-red">Kecamatan*</label>
                                                </div>
                                                <div class="col-6">
                                                    <select [formControl]="fcselectkecamatan" class="form-control" style="font-size: 10pt;" (change)="changekecamatan()">
                                                        <option [value]="[data.id,data.name]" *ngFor="let data of listkecamatan">{{data.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="text-red">Kelurahan / Desa*</label>
                                                </div>
                                                <div class="col-6">
                                                    <select [formControl]="fcselectkelurahan" class="form-control" style="font-size: 10pt;">
                                                        <option [value]="[data.id,data.name]" *ngFor="let data of listkelurahan">{{data.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Kode Pos</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="number" class="form-control" [formControl]="kodeposFc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Bentuk Koperasi</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" class="form-control" [formControl]="bentukkoperasiFc">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="text-red">Jenis Koperasi*</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" class="form-control" [formControl]="jeniskoperasiFc">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    <h5>Data Pengurus</h5>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="text-red">Nama Lengkap Ketua*</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [formControl]="namalengkapketuaFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Nama Lengkap Sekretaris</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [formControl]="namalengkapsekretarisFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Nama Lengkap Bendahara</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [formControl]="namalengkapbendaharaFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Foto KTP Ketua</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="file" class="w-100" #imageInput type="file" accept=".jpeg,.png,.jpg"
                                            (change)="processFile($event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Nama Pengelola Harian Koperasi</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [formControl]="namapengelolahariankoperasiFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <h5>Data Kelembagaan</h5>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Jumlah Anggota Pria</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="number" class="form-control" [formControl]="jumlahanggotapriaFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Jumlah Anggota Wanita</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="number" class="form-control" [formControl]="jumlahanggotawanitaFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Total Manajer</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="number" class="form-control" [formControl]="totalmanajerFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <h5>Data Lainnya</h5>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="text-red">Nomor Induk Koperasi*</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="number" class="form-control" [formControl]="nomorindukkoperasiFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Status Nomor Induk Koperasi</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [formControl]="statusnomorindukkoperasiFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Status Grade</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [formControl]="statusgradeFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-4">
                                    <h5>Kontak</h5>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Jabatan</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [formControl]="jabatanFc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="text-red">Nomor Handphone *</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [formControl]="nomorhandphoneFc"> 
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="text-red">Email*</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" [formControl]="emailFc">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center" *ngIf="!datalistkoperasishow">
                    Load Data ...
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="simpan()">Simpan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-notification></app-notification>


