<div class="col-md-12">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h3>{{titlepage}}</h3>
        </div>
    </div>
</div>

<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
            <div class="row">
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-12 mt-1">
                                            <h3>Data Koperasi</h3>
                                        </div>
                                        <div class="col-6">
                                            <h5>Nama Koperasi</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #nama_koperasi>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Nomor Badan Hukum Pendirian</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #no_badan_hukum >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Tanggal Badan Hukum Pendirian</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #tgl_badan_hukum>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Nomor Perubahan Anggaran Dasar (Terbaru)</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #no_perubahan_anggaran_dasar>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Tanggal Perubahan Anggaran Dasar (Terbaru)</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #tgl_perubahan_anggaran_dasar>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Tanggal RAT Terakhir</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #tgl_rat_terakhir>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Alamat</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #alamat>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Kelurahan / Desa</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #kelurahan_desa>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Kecamatan</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #kecamatan>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Kabupaten</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #kabupaten>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Provinsi</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #provinsi>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Bentuk Koperasi</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #bentuk_koperasi>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-1">
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Jenis Koperasi</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #jenis_koperasi>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Kelompok Koperasi</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #kelompok_koperasi>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Sektor Usaha</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #sektor_usaha>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12 mt-1">
                                    <h3>Data Pengurus</h3>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Nama Ketua</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #nama_ketua>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Nama Sekretaris</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #nama_sekretaris>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Nama Bendahara</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #nama_bendahara>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Foto KTP Ketua</h5>
                                        </div>
                                        <div class="col-6">
                                            <input #imageInput type="file" accept=".jpeg,.png,.jpg"
                                                (change)="processFile($event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <h3>Data Kelembagaan</h3>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Jumlah Anggota Pria</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #jml_anggota_pria>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Jumlah Anggota Wanita</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #jml_anggota_wanita>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Total Anggota</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #total_anggota>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Total Manajer</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #total_manajer>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Total Karyawan</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #total_karyawan>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <h3>Data Lainnya</h3>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Nomor Induk Koperasi (NIK)</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #no_induk_koperasi>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Status NIK</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #status_nik>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Status Grade</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #status_grade>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <h3>Data Contact</h3>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Tlp / Hp Pengurus</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #hp_pengurus>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-1">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Email Pengurus</h5>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" #email_pengurus>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-1 mt-5">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" type="button" (click)="savekoperasi(
                                        nama_koperasi.value,
                                        no_badan_hukum.value,
                                        tgl_badan_hukum.value,
                                        no_perubahan_anggaran_dasar.value,
                                        tgl_perubahan_anggaran_dasar.value,
                                        tgl_rat_terakhir.value,
                                        alamat.value,
                                        kelurahan_desa.value,
                                        kecamatan.value,
                                        kabupaten.value,
                                        provinsi.value,
                                        bentuk_koperasi.value,
                                        jenis_koperasi.value,
                                        kelompok_koperasi.value,
                                        sektor_usaha.value,
                                        nama_ketua.value,
                                        nama_sekretaris.value,
                                        nama_bendahara.value,
                                        jml_anggota_pria.value,
                                        jml_anggota_wanita.value,
                                        total_anggota.value,
                                        total_manajer.value,
                                        total_karyawan.value,
                                        no_induk_koperasi.value,
                                        status_nik.value,
                                        status_grade.value,
                                        hp_pengurus.value,
                                        email_pengurus.value
                                    )">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-1 mt-2">
                            <app-alerts *ngIf="trigeralerts"></app-alerts>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>