<div class="col-md-12">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h3>{{titlepage}}</h3>
        </div>
    </div>
</div>

<div class="col-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-end">
                        <div class="col-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="search..." />
                                <span class="input-group-append">
                                    <span class="input-group-text add-on white">
                                        <i class="icon-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 p-4 mb-0" >
                    <div class="row">
                        <div class="col-1">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey; height: 60px;">
                                    <div class="row">
                                        <div class="col-7">NO</div>
                                        <div class="col-5">
                                            <span class="icon-arrow_drop_up"></span>
                                            <span class="icon-arrow_drop_down"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey; height: 60px;">
                                    <div class="row">
                                        <div class="col-7">AO</div>
                                        <div class="col-5">
                                            <span class="icon-arrow_drop_up"></span>
                                            <span class="icon-arrow_drop_down"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 60px;">
                                    <div class="row">
                                        <div class="col-8">Customer</div>
                                        <div class="col-4">
                                            <span class="icon-arrow_drop_up"></span>
                                            <span class="icon-arrow_drop_down"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 60px;">
                                    <div class="row">
                                        <div class="col-8">Tanggal</div>
                                        <div class="col-4">
                                            <span class="icon-arrow_drop_up"></span>
                                            <span class="icon-arrow_drop_down"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 60px;">
                                    <div class="row">
                                        <div class="col-8">Jumlah</div>
                                        <div class="col-4">
                                            <span class="icon-arrow_drop_up"></span>
                                            <span class="icon-arrow_drop_down"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 60px;">
                                    <div class="row">
                                        <div class="col-8">Tenor</div>
                                        <div class="col-4">
                                            <span class="icon-arrow_drop_up"></span>
                                            <span class="icon-arrow_drop_down"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 108px;">
                                    <div class="row">
                                        <div class="col-12 text-center">Activity</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ngFor="let dataloan of dataloopdummy | paginate: { itemsPerPage: 5, currentPage: p }; let index = index">
                            <div class="row">
                                <div class="col-1 p-4" style="border: 1px solid grey;">{{index + 1}}</div>
                                <div class="col-1 p-4" style="border: 1px solid grey;">{{dataloan.ao}}</div>
                                <div class="col-2 p-4" style="border: 1px solid grey;">{{dataloan.customer}}</div>
                                <div class="col-2 p-4" style="border: 1px solid grey;">{{dataloan.tanggal}}</div>
                                <div class="col-2 p-4" style="border: 1px solid grey;">{{dataloan.jumlah}}</div>
                                <div class="col-2 p-4" style="border: 1px solid grey;">{{dataloan.tenor}}</div>
                                <div class="col-2 p-4" style="border: 1px solid grey;">
                                    <div class="row">
                                        <button title="View"  class="col-4 icon-rate_review" style="border: none; background: none; font-size: 20px;" type="button" id="id{{index}}" (click)="viewclick(index , dataloan.ao)"></button>
                                        <button  title="Approve" class="col-4 icon-check-circle" style="border: none; background: none; font-size: 20px;" type="button" id="id{{index}}" (click)="approveclick()"></button>
                                        <button title="Reject" class="col-4 icon-times-circle" style="border: none; background: none; font-size: 20px;" type="button"  id="id{{index}}" (click)="rejectclick()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <pagination-controls (pageChange)="p = $event ; pageclick($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>