<app-modalpopup *ngIf="showmodalviewloan">
    <div class="modal-content" style="margin-top: 10%;min-height: 30vh;">
        <div class="modal-header" style="border: none;">
            <button type="button" class="close" (click)="closemodal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="border:none">
            <div class="row justify-content-center">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" style="cursor: pointer;">Loan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" style="cursor: pointer;">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" style="cursor: pointer;">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" style="cursor: pointer;">Occupation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" style="cursor: pointer;">Emergency</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" style="cursor: pointer;">History</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div style="border:none;" class="col-12" style="background-color: grey; padding: 10px;">
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-block w-100"
                        (click)="savemodalviewloan()">Save</button>
                </div>
            </div>
        </div> -->
    </div>
</app-modalpopup>
<app-modalpopup *ngIf="showmodalapproveloan">
    <div class="modal-content" style="margin-top: 10%;">
        <div class="modal-header" style="border: none;">
            <button type="button" class="close" (click)="closemodal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="border:none">
            <div class="row justify-content-center">
                <h3>Approve !</h3>
            </div>
        </div>
        <div style="border:none;" class="col-12" style="background-color: grey; padding: 10px;">
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-block w-100"
                        (click)="approvemodalviewloan()">Approve</button>
                </div>
            </div>
        </div>
    </div>
</app-modalpopup>
<app-modalpopup *ngIf="showmodalrejectloan">
    <div class="modal-content" style="margin-top: 10%;">
        <div class="modal-header" style="border: none;">
            <button type="button" class="close" (click)="closemodal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="border:none">
            <div class="row justify-content-center">
                <h3>Reject !</h3>
            </div>
        </div>
        <div style="border:none;" class="col-12" style="background-color: grey; padding: 10px;">
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-danger btn-block w-100"
                        (click)="rejectmodalviewloan()">Reject</button>
                </div>
            </div>
        </div>
    </div>
</app-modalpopup>
<div class="col-md-12">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h2><strong>Loan Application</strong></h2>
        </div>
    </div>
</div>

<div class="col-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body" style="min-height: 59vh;">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-end">
                        <div class="col-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="search..."
                                    (keyup)="searchnavbar($event,'default' , searchdefault.value)" #searchdefault />
                                <span class="input-group-append" (click)="searchclickdefault(searchdefault.value)">
                                    <span class="input-group-text add-on white">
                                        <i class="icon-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 p-4 mb-0">
                    <div class="row">
                        <table id="t01">
                            <tr style="padding-right:0;">
                                <th style="font-size: 11pt;">No</th>
                                <th style="font-size: 11pt;width: 14%;">AO <span class="icon-sort pl-2"
                                        (click)="sortinghandle('ao')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;width: 13%;">Customer<span class="icon-sort pl-2"
                                        (click)="sortinghandle('custmomer')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;width: 13%;">Tanggal<span class="icon-sort pl-2"
                                        (click)="sortinghandle('tanggal')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;width: 13%;">Jumlah<span class="icon-sort pl-2"
                                        (click)="sortinghandle('jumlah')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;width: 13%;">Tenor<span class="icon-sort pl-2"
                                        (click)="sortinghandle('tenor')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;" class="text-center">Action
                                </th>
                            </tr>
                            <tr style="padding-right: 0;">
                                <td>1.</td>
                                <td>dummy</td>
                                <td>dummy</td>
                                <td>dummy</td>
                                <td>dummy</td>
                                <td>dummy</td>
                                <td>
                                    <div class="col-12">
                                        <div class="row justify-content-center">
                                            <button class="btn mr-1" type="button"
                                                style="background-color: darkcyan;color: white;font-size: 10pt;">View</button>
                                            <button class="btn mr-1" type="button"
                                                style="background-color: darkcyan;color: white;font-size: 10pt;">Approve</button>
                                            <button class="btn mr-1" type="button"
                                                style="background-color: darkcyan;color: white;font-size: 10pt;">Reject</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>