<!-- <app-modalloading *ngIf="loadingshow"></app-modalloading> -->
<app-modalpopup *ngIf="showmodalviewloan">
    <div class="modal-content" style="margin-top: 10%;min-height: 30vh;max-height: 80vh;overflow-y: scroll;">
        <div class="modal-header" style="border: none;">
            <button type="button" class="close" (click)="closemodaldialog('view')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="border:none">
            <div class="row justify-content-center">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" (click)="clicknavtab('loan')" id="navtabloan"
                            style="cursor: pointer;">Loan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="clicknavtab('personal')" id="navtabpersonal"
                            style="cursor: pointer;">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="clicknavtab('address')" id="navtabaddress"
                            style="cursor: pointer;">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="clicknavtab('occupation')" id="navtaboccupation"
                            style="cursor: pointer;">Occupation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="clicknavtab('emergency')" id="navtabemergency"
                            style="cursor: pointer;">Emergency</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" (click)="clicknavtab('history')" id="navtabhistory"
                            style="cursor: pointer;">History</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="loan" class="container tab-pane active"><br>
                        <div class="row">
                            <div class="col-12 mt-3" *ngIf="trigernodataloan">
                                <h3>Tidak ada data ..</h3>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandataget && loandataget.jumlah_loan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Jumlah Loan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandataget.jumlah_loan}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandataget && loandataget.total_disbursed">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Total Disbursed
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandataget.total_disbursed}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandataget && loandataget.tenor">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Tenor
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandataget.tenor}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandataget && loandataget.tenor_cycle">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Tenor Cycle
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandataget.tenor_cycle}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandataget && loandataget.service_type">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Service Type
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandataget.service_type}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandataget && loandataget.cicilan_per_bln">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Cicilan/Bln
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandataget.cicilan_per_bln}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="personal" class="container tab-pane fade"><br>
                        <div class="row">
                            <div class="col-12 mt-3" *ngIf="trigernodatamember">
                                <h3>Tidak ada data ..</h3>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.member_handphone">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        No Handphone
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.member_handphone}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.jenis_identitas">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Jenis Identitas
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.jenis_identitas}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.no_identitas">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        No Identitas
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.no_identitas}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.nama_lengkap">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Nama Lengkap
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.nama_lengkap}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.tanggal_lahir">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Tanggal Lahir
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.tanggal_lahir | slice :0:10}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.tempat_lahir">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Tempat Lahir
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.tempat_lahir}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.jenis_kelamin">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Jenis Kelamin
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.jenis_kelamin}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.nama_gadis_ibu">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Nama Gadis Ibu Kandung
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.nama_gadis_ibu}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.status_perkawinan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Status Perkawinan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.status_perkawinan}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.pendidikan_terakhir">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Pendidikan Terakhir
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.pendidikan_terakhir}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="address" class="container tab-pane fade"><br>
                        <div class="row">
                            <div class="col-12 mt-3" *ngIf="trigernodatamember">
                                <h3>Tidak ada data ..</h3>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_ktp_jalan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat sesuai KTP : Jalan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_ktp_jalan}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_ktp_nomer">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat sesuai KTP : Nomor
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_ktp_nomer}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_ktp_rt">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat sesuai KTP : RT
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_ktp_rt}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_ktp_rw">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat sesuai KTP : RW
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_ktp_rw}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_ktp_provinsi">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat sesuai KTP : Provinsi
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_ktp_provinsi}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_ktp_kota">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat sesuai KTP : Kota
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_ktp_kota}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_ktp_kecamatan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat sesuai KTP : Kecamatan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_ktp_kecamatan}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_ktp_kelurahan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat sesuai KTP : Kelurahan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_ktp_kelurahan}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_ktp_status_tempat_tinggal">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat sesuai KTP : Status Tempat Tinggal
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_ktp_status_tempat_tinggal}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_ktp_lama_tinggal">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat sesuai KTP : Lama Tinggal
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_ktp_lama_tinggal}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.domisili_sesuai_ktp">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Apakah alamat domisili sama dengan KTP ?
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.domisili_sesuai_ktp}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_domisili_jalan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat domisili : Jalan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_domisili_jalan}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_domisili_nomer">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat domisili : Nomor
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_domisili_nomer}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_domisili_rt">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat domisili : RT
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_domisili_rt}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_domisili_rw">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat domisili : RW
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_domisili_rw}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_domisili_provinsi">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat domisili : Provinsi
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_domisili_provinsi}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_domisili_kota">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat domisili : Kota
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_domisili_kota}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_domisili_kecamatan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat domisili : Kecamatan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_domisili_kecamatan}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_domisili_kelurahan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat domisili : Kelurahan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_domisili_kelurahan}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_domisili_status_tempat_tinggal">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat domisili : Status Tempat Tinggal
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_domisili_status_tempat_tinggal}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_domisili_lama_tempat_tinggal">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat domisili : Lama Tinggal
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_domisili_lama_tempat_tinggal}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="occupation" class="container tab-pane fade"><br>
                        <div class="row">
                            <div class="col-12 mt-3" *ngIf="trigernodatamember">
                                <h3>Tidak ada data ..</h3>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.memiliki_npwp">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Memiliki NPWP
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.memiliki_npwp}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.nomer_npwp">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Nomor Memiliki
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.nomer_npwp}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.pekerja_usaha">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Pekerjaan / Usaha
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.pekerja_usaha}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.bidang_pekerja">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Bidang Pekerjaan / Usaha
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.bidang_pekerja}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.posisi_jabatan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Posisi / Jabatan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.posisi_jabatan}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.nama_perusahaan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Nama Perusahaan / Usaha
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.nama_perusahaan}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.lama_bekerja">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Lama Bekerja / Usaha
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.lama_bekerja}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.penghasilan_omset">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Penghasilan / Omset usaha
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.penghasilan_omset}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_kantor_jalan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat Kantor : Jalan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_kantor_jalan}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_kantor_nomer">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat Kantor : Nomor
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_kantor_nomer}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_kantor_rt">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat Kantor : RT
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_kantor_rt}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_kantor_rw">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat Kantor : RW
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_kantor_rw}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_kantor_provinsi">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat Kantor : Provinsi
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_kantor_provinsi}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.alamat_kantor_kota">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat Kantor : Kota
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_kantor_kota}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_kantor_kecamatan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat Kantor : Kecamatan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_kantor_kecamatan}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1"
                                *ngIf="loandatamemberget && loandatamemberget.alamat_kantor_kelurahan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Alamat Kantor : Kelurahan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.alamat_kantor_kelurahan}}"
                                            style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="emergency" class="container tab-pane fade"><br>
                        <div class="row">
                            <div class="col-12 mt-3" *ngIf="trigernodatamember">
                                <h3>Tidak ada data ..</h3>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.nama">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Nama
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.nama}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.no_hp">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        No Handphone
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.no_hp}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1" *ngIf="loandatamemberget && loandatamemberget.hubungan">
                                <div class="row justify-content-center">
                                    <div class="col-5" style="font-size: 0.8rem;">
                                        Hubungan
                                    </div>
                                    <div class="col-6">
                                        <input type="text" disabled class="form-control"
                                            value="{{loandatamemberget.hubungan}}" style="font-size: 0.8rem;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="history" class="container tab-pane fade"><br>
                        <div class="row">
                            <div class="col-12 mt-3" *ngIf="datacollectall.length == 0">
                                <h3>Tidak ada data ..</h3>
                            </div>
                            <div class="col-12 mt-1">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <table id="t01">
                                            <tr style="padding-right:0;">
                                                <th style="font-size: 11pt;width: 10%;">No</th>
                                                <th style="font-size: 11pt;width: 14%;">AO </th>
                                                <th style="font-size: 11pt;width: 14%;">Jumlah </th>
                                                <th style="font-size: 11pt;width: 14%;">Cicilan Ke </th>
                                                <th style="font-size: 11pt;width: 14%;">Pokok </th>
                                                <th style="font-size: 11pt;width: 14%;">Sukarelaa </th>
                                            </tr>
                                            <tr style="border-bottom: 2px solid darkcyan; padding-right: 0;"
                                                *ngFor="let data of datacollectall| paginate: {itemsPerPage: 10, currentPage: p , totalItems:datacollectall.length} let i = index">
                                                <td>{{data.number}}.</td>
                                                <td>{{data.ao_name}}</td>
                                                <td>Rp. {{data.jumlah_loan}}</td>
                                                <td>dummy</td>
                                                <td>Rp. dummy</td>
                                                <td>Rp. dummy</td>
                                            </tr>
                                        </table>
                                    </div>
                                <div class="col-12 mt-2" *ngIf="datacollectall.length > 0">
                                    <pagination-controls (pageChange)="p = $event;pageclickhistory($event)"></pagination-controls>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-modalpopup>
<app-modalpopup *ngIf="showmodalapproveloan">
    <div class="modal-content" style="margin-top: 10%;">
        <div class="modal-header" style="border: none;">
            <button type="button" class="close" (click)="closemodaldialog('approve')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="border:none">
            <div class="row justify-content-center">
                <h3>Approve !</h3>
            </div>
        </div>
        <div style="border:none;" class="col-12" style="background-color: grey; padding: 10px;">
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-block w-100" style="background-color: darkcyan; color: white;"
                        (click)="approvemodalviewloan()">Approve</button>
                </div>
            </div>
        </div>
    </div>
</app-modalpopup>
<app-modalpopup *ngIf="showmodalrejectloan">
    <div class="modal-content" style="margin-top: 10%;">
        <div class="modal-header" style="border: none;">
            <button type="button" class="close" (click)="closemodaldialog('reject')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="border:none">
            <div class="row justify-content-center">
                <h3>Reject !</h3>
            </div>
        </div>
        <div style="border:none;" class="col-12" style="background-color: grey; padding: 10px;">
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-danger btn-block w-100"
                        (click)="rejectmodalviewloan()">Reject</button>
                </div>
            </div>
        </div>
    </div>
</app-modalpopup>
<app-modalsuccess *ngIf="showmodalsuccess"></app-modalsuccess>
<app-modalerror *ngIf="showmodalerror"></app-modalerror>
<div class="col-md-12">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h2><strong>Loan Application</strong></h2>
        </div>
    </div>
</div>

<div class="col-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body" style="min-height: 59vh;">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-end">
                        <div class="col-3">
                            <div class="input-group">
                                <input id="searchdefault" type="text" class="form-control" placeholder="search..." #searchdefault />
                                <span class="input-group-append">
                                    <span class="input-group-text add-on white"
                                        (click)="searchclickdefault(searchdefault.value)">
                                        <i class="icon-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 p-4 mb-0">
                    <div class="row">
                        <table id="t01">
                            <tr style="padding-right:0;">
                                <th style="font-size: 11pt;">No</th>
                                <th style="font-size: 11pt;width: 14%;">AO <span class="icon-sort pl-2"
                                        (click)="sortinghandle('ao_name')"></span>
                                    <input type="text" placeholder="search" class="form-control w-100" id="ao_name" #aofield
                                        style="font-size: 10pt;" (keyup)="searchfield($event,'ao_name',aofield.value)"></th>
                                <th style="font-size: 11pt;width: 13%;">Customer<span class="icon-sort pl-2"
                                        (click)="sortinghandle('member_name')"></span>
                                    <input type="text" placeholder="search" class="form-control w-100" id="member_name" #membername
                                        style="font-size: 10pt;" (keyup)="searchfield($event,'member_name',membername.value)"></th>
                                <th style="font-size: 11pt;width: 13%;">Tanggal<span class="icon-sort pl-2"
                                        (click)="sortinghandle('createdAt')"></span>
                                    <input type="text" placeholder="search" class="form-control w-100" id="createdAt" #tanggal
                                        style="font-size: 10pt;" (keyup)="searchfield($event,'createdAt',tanggal.value)"></th>
                                <th style="font-size: 11pt;width: 13%;">Jumlah<span class="icon-sort pl-2"
                                        (click)="sortinghandle('jumlah_loan')"></span>
                                    <input type="text" placeholder="search" class="form-control w-100" id="jumlah_loan" #jumlah
                                        style="font-size: 10pt;" (keyup)="searchfield($event,'jumlah_loan',jumlah.value)"></th>
                                <th style="font-size: 11pt;width: 13%;">Tenor<span class="icon-sort pl-2"
                                        (click)="sortinghandle('tenor')"></span>
                                    <input type="text" placeholder="search" class="form-control w-100" id="tenor" #tenor
                                        style="font-size: 10pt;" (keyup)="searchfield($event,'tenor',tenor.value)"></th>
                                <th style="font-size: 11pt;" class="text-center">Action
                                </th>
                            </tr>
                            <tr style="border-bottom: 2px solid darkcyan; padding-right: 0;"
                                *ngFor="let data of dataloanaplication| paginate: {itemsPerPage: 10, currentPage: p , totalItems: totalpage}">
                                <td>{{data.number}}.</td>
                                <td>{{data.ao_name}}</td>
                                <td>{{data.member_name}}</td>
                                <td>{{data.createdAt | slice : 0 : 10}}</td>
                                <td>Rp. {{data.jumlah_loan}}</td>
                                <td>{{data.tenor}}</td>
                                <td>
                                    <div class="col-12">
                                        <div class="row">
                                            <button class="btn mr-1" type="button" *ngIf="data.is_loan_approved === 1 || data.is_loan_approved === 3"
                                                style="background-color: darkcyan;color: white;font-size: 10pt;"
                                                (click)="viewclick(data.id,data.member_id)">View</button>
                                            <button class="btn mr-1" type="button" *ngIf="data.is_loan_approved === 3"
                                                style="background-color: darkcyan;color: white;font-size: 10pt;" (click)="approveclick(data.member_id , 1)">Approve</button>
                                            <button class="btn mr-1" type="button" *ngIf="data.is_loan_approved === 3"
                                                style="background-color: darkcyan;color: white;font-size: 10pt;" (click)="rejectclick(data.member_id, 2)">Reject</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="col-12 mt-5 text-center" *ngIf="dataloanaplication.length === 0">
                            <h3>Tidak ada data...</h3>
                        </div>
                    </div>
                    <div class="col-12 mt-2" *ngIf="dataloanaplication.length > 0">
                        <pagination-controls (pageChange)="p = $event ; pageclick($event)">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>