<app-modalloading *ngIf="loadingshow"></app-modalloading>
<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body" *ngIf="accountshow">
            <div class="col-12">
                <div class="row justify-content-between">
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary w-100" (click)="tambahakun()">Tambah Akun</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-12" *ngIf="listdataaccount.length > 0">
                                <table style="width: 100%">
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>Fungsional</th>
                                        <th>Status</th>
                                    </tr>
                                    <tr *ngFor="let item of listdataaccount; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{item.fullname}}</td>
                                        <td>{{item.role}}</td>
                                        <td *ngIf="item.status === 'active'"><button class="btn btn-primary" (click)="editaktif(item.id)">Aktif</button></td>
                                        <td *ngIf="item.status === 'inactive'"><button class="btn btn-primary" (click)="editnonaktif(item.id)">Non Aktif</button></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-12 text-center" *ngIf="listdataaccount.length === 0">
                                No data...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body load-container" *ngIf="!accountshow">
            <div class="col-12 text-center">
                Load Data ...
            </div>
        </div>
    </div>
</div>
<div bsModal #tambahakunmodal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="tambahakunmodal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 pl-5 pr-5" *ngIf="datashow">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">Name</div>
                                <div class="col-6">
                                    <input type="text" class="w-100 form-control" [formControl]="namaakuninputFc">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">No HP</div>
                                <div class="col-6"> 
                                    <input type="text" class="w-100 form-control" [formControl]="nohpakunFc">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Email</div>
                                <div class="col-6">
                                    <input type="text" class="w-100 form-control" [formControl]="emailFc">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Tanggal Lahir</div>
                                <div class="col-6">
                                    <input type="date" class="w-100 form-control" [formControl]="tanggallahirFc">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Fungsional</div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <select class="form-control" [formControl]="optionfungsionalFc" (change)="changeoptionfungsional()">
                                                <option [defaultSelected]=true hidden value="">Pilih</option>
                                                <option value="AO/CMO/Sales">AO/CMO/Sales</option>
                                                <option value="Admin Koperasi">Admin Koperasi</option>
                                                <option value="Super Admin">Super Admin</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-2">Batasan Tugas</div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-12" *ngIf="optionfungsionalFc.value === 'AO/CMO/Sales'">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="checkbox" [formControl]="persetujuanFc" (change)='changepersetujuanselect()'>
                                                        Persetujuan
                                                    </div>
                                                    <div class="col-6">
                                                        <select class="form-control" [formControl]="optionperstujuanFc">
                                                            <option [defaultSelected]=true hidden value="">Pilih
                                                            </option>
                                                            <option value="1">Maksimal Rp 1.000.000</option>
                                                            <option value="3">Maksimal Rp 3.000.000</option>
                                                            <option value="5">Maksimal Rp 5.000.000</option>
                                                            <option value="10">Maksimal Rp 10.000.000</option>
                                                            <option value="20">Lebih dari Rp 10.000.000</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-1">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="checkbox" [formControl]="pencarianFc" (change)="changepencairanselect()">
                                                        Percairan
                                                    </div>
                                                    <div class="col-6">
                                                        <select class="form-control" [formControl]="optionpencarianFc">
                                                            <option [defaultSelected]=true hidden value="">Pilih
                                                            </option>
                                                            <option value="5">Maksimal Rp 5.000.000</option>
                                                            <option value="10">Maksimal Rp 10.000.000</option>
                                                            <option value="20">Lebih dari Rp 10.000.000</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-1">
                                                <input type="checkbox" [formControl]="anguranFc">
                                                Pembayaran Angsuran
                                            </div>
                                            <div class="col-12 mt-1">
                                                <input type="checkbox" [formControl]="penagihanFc">
                                                Penagihan
                                            </div>
                                        </div>
                                        <div class="col-12" *ngIf="optionfungsionalFc.value === 'Admin Koperasi' || optionfungsionalFc.value === 'Super Admin'">
                                            <div class="col-12">
                                                <input type="checkbox" [formControl]="kinjerkoperasiFc">
                                                Kinerja Koperasi
                                            </div>
                                            <div class="col-12 mt-1">
                                                <input type="checkbox" [formControl]="pengaturanpinjamanFc">
                                                Pengaturan Pinjaman
                                            </div>
                                            <div class="col-12 mt-1">
                                                <input type="checkbox" [formControl]="manajementakunFc">
                                                <span>Manajemen akun
                                                    <span class="pl-2" *ngIf="optionfungsionalFc.value === 'Admin Koperasi'">Tambah AO/CMO/Sales</span>
                                                </span> 
                                            </div>
                                            <div class="col-12 mt-1">
                                                <input type="checkbox" [formControl]="manajementpinjamanFc">
                                                Manajemen Pinjaman
                                            </div>
                                            <div class="col-12 mt-1">
                                                <input type="checkbox" [formControl]="manajementanggotaFc">
                                                Manajemen Anggota
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center" *ngIf="!datashow">
                    Load Data ...
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12" *ngIf="statusmodal === 'create'">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="simpan('create')">Simpan</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ngIf="statusmodal === 'active'">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="ubah('edit')">Ubah</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="btnnonaktif('statusnonaktif')">Non
                                        Aktif</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ngIf="statusmodal === 'inactive'">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="ubah('edit')">Ubah</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-primary w-100"
                                        (click)="btnaktif('statusaktif')">Aktivasi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-notification></app-notification>