<app-modalloading *ngIf="loadingshow"></app-modalloading>
<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
            <div class="col-12">
                <div class="row justify-content-between">
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Data Pribadi</h5>
                                        <div class="row mt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nomor Indentitas</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="nomoridentitasFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>No Handphone</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="nomorhandphoneFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="emailFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nama Lengkap (KTP)</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="namalengkapFc" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Tempat Lahir</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="tempatlahirFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Tanggal Lahir</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="tanggallahirFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Usia</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="usiaFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Jenis Kelamin</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="jeniskelaminFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Status Pernikahan</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="statuspernikahanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Pendidikan Terakhir</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="pendidikanterakhirFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nama Gadis Ibu Kandung</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="namagadisibukandungFc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-1">
                                        <h5>Alamat (KTP)</h5>
                                        <div class="row mt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Jalan,No Rumah,RT,RW</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="ktpjalanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Provinsi</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="ktpprovinsiFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kota / Kabupate</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="ktpkotaFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kecamatan</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="ktpkecamatanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kelurahan / Desa</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="ktpkelurahanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kode Pos</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="ktpkodeposFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Status Tempat Tinggal (KTP)</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="ktpstatustempatFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Lama Tinggal</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="ktplamatinggalFc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-1">
                                        <h5>Survey</h5>
                                        <div class="row mt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Luas Rumah</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="luasrumahFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Jenis Atap</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="jenisatapFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Jenis Dinding</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="jenisdindingFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kondisi Rumah</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="kondisirumahFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Letak Rumah</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="letakrumahFc" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Tanggungan Keluarga</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="tanggungankeluargaFc" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Data Fisik Perabot & Elektronik</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="datafisikperabotFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Akses ke lembaga keuangan lain</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="akseslembagaFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Informasi Tentang Usaha</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="informasiusahaFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Indeks Rumah</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="indexrumahFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Indeks Aset</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="indexasetFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kepemilikan Aset</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="kepemilikanasetFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Pendapatan dari luar usaha</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="pendapatanluarFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Perkembangan Aset</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="perkembanganasetFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Perkembangan Usaha</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="perkembanganusahaFc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-1">
                                        <h5>Data Pasangan</h5>
                                        <div class="row mt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nama Pasangan</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="namapasanganFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nomor Indentitas Pasangan</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="nomorpasanganFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Pekerjaan Pasangan</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="pekerjaanpasanganFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nomor Handphone </label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="nomorhandphonepasanganFc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h5>Data Pekerjaan</h5>
                                        <div class="row mt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Memiliki NPWP ?</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="memilikinpwpFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nomor NPWP</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="nomornpwpFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Pekerjaan / Usaha</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="pekerjaanusahaFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Jenis UMKM</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="jenisumkmFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nama Perusahaan / Usaha</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="namaperusahaanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Lama Bekerja / Usaha</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="lamabekerjaFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Penghasilan / Omset Usaha</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="penghasilFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Alamat Usaha(Jalan,No)</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="jalanpekerjaanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Provinsi</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="provinsipekerjaanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kota / Kabupaten</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="kotapekerjaanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kecamatan</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="kecamatanpekerjaanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kelurahan / Desa</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="kelurahanpekerjaanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kode Pos</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="kodepospekerjaanFc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-1">
                                        <h5>Alamat (Domisili)</h5>
                                        <div class="row mt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Apakah alamat domisili sama dengan KTP ?</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="alamtsesuaiktpFc" (change)="changequestion()">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Jalan,No Rumah,RT,RW</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="domisilijalanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Provinsi</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="domisiliprovinsiFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kota / Kabupate</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="domisilikotaFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kecamatan</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="domisilikecamatanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kelurahan / Desa</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="domisilikelurahanFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kode Pos</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="domisilikodeposFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Status Tempat Tinggal (Domisili)</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="domisilistatustempatFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Lama Tinggal</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="domisililamatinggalFc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-1">
                                        <h5>Kontak Darurat</h5>
                                        <div class="row mt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nama Kontak Darurat</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="namakontakdaruratFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nomor Hanphone</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="nomorhandphonedaruratFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Hubungan dengan kontak darurat</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="hubungandaruratFc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-1">
                                        <h5>Data Penjamin</h5>
                                        <div class="row mt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nama Penjamin</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="namapenjaminFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Nomor Hanphone</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="nomorpenjaminFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Hubungan dengan penjamin</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="hubunganpenjaminFc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-1">
                                        <h5>Dokumen</h5>
                                        <div class="row mt-2">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>KTP</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="dokumenktpFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>SIM</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="dokumensimFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Kartu Keluarga</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="dokumenkkFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Surat Keterangan Bekerja</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="dokumensuratkerjaFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Slip Gaji</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="dokumenslipgajiFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Akta Nikah</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="dokumenaktanikahFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>BPKB</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="dokumenbpkbFc">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <label>Dokumen Lainnya</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="checkbox" [formControl]="dokumenlainnyaFc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-5" *ngIf="loaddata">
                                <div class="row justify-content-center">
                                    <div class="col-3" *ngIf="statubutton">
                                        <button class="btn btn-primary w-100" (click)="simpan()">Simpan</button>
                                    </div>
                                    <div class="col-3" *ngIf="!statubutton">
                                        <button class="btn btn-primary w-100" (click)="ubah()">Ubah</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center mt-5" *ngIf="!loaddata">
                                Load Button ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-notification></app-notification>

