<app-modalloading *ngIf="loadingshow"></app-modalloading>
<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body" >
            <div class="col-12" *ngIf="!datashow">
                <div class="row justify-content-between">
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary w-100" (click)="tambahproduk()">Tambah Produk</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-12 text-center">
                                <table style="border: 1px solid #c2c2c2 !important">
                                    <tr style="background-color: #f3f7fd; font-size: 14px; color: #707070">
                                        <th style="font-size: 14px; font-weight: bold;">No</th>
                                        <th style="font-size: 14px; font-weight: bold;">Nama Produk</th>
                                        <th style="font-size: 14px; font-weight: bold;">Status</th>
                                    </tr>
                                    <tr *ngFor="let item of liststruktur; let i = index">
                                        <td>{{i+1}}.</td>
                                        <td>{{item.nama_produk}}</td>
                                        <td *ngIf="item.status === 'active'"><button class="btn btn-primary" style="width: 90px;" (click)="editaktif(item.id)">Aktif</button></td>
                                        <td *ngIf="item.status === 'inactive'"><button class="btn btn btn-secondary" style="width: 90px;" (click)="editnonaktif(item.id)">Non Aktif</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body load-container" *ngIf="datashow">
                <div class="col-12 text-center">
                    Load Data ...
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #strukturmodalcreate="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="strukturmodalcreate.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <div class="col-12 pl-5 pr-5" *ngIf="produkshowcreate">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">Nama Produk</div>
                                <div class="col-6">
                                    <input type="text" class="w-100 form-control" [formControl]="namaprodukFc">
                                    <span class="text-danger" *ngIf="namaprodukFc.value == ''">Nama Produk tidak boleh kosong.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Tenor</div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <input FrontDigitOnly type="number" class="w-100 form-control" [formControl]="tenorFc" style="font-family: 'SegoeUI'">
                                        </div>
                                        <div class="col-6">
                                            <select class="form-control" [formControl]="optiontenorFc">
                                                <option [defaultSelected]=true hidden value="">Pilih</option>
                                                <option value="hari">Hari</option>
                                                <option value="minggu">Minggu</option>
                                                <option value="bulan">Bulan</option>
                                            </select>
                                        </div>
                                        <div class="col-12" *ngIf="tenorFc.value == ''">
                                            <span class="text-danger">Tenor tidak boleh kosong.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Bunga</div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <input maxlength="5" type="text" class="w-100 form-control input-prefix"
                                                [formControl]="bungaFc" style="font-family: 'SegoeUI'"/>
                                            <div class="prefix">%</div>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-control" [formControl]="optionbungaFc">
                                                <option [defaultSelected]=true hidden value="">Pilih</option>
                                                <option value="hari">Hari</option>
                                                <option value="minggu">Minggu</option>
                                                <option value="bulan">Bulan</option>
                                            </select>
                                        </div>
                                        <div class="col-12" *ngIf="bungaFc.value == ''">
                                            <span class="text-danger">Bunga tidak boleh kosong.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Biaya Admin</div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-control" [formControl]="optionbiayaadminFc" (change)="changetypeselect('biayaadmin')">
                                                <option [defaultSelected]=true hidden value="">Pilih</option>
                                                <option value="tidak">Tidak ada</option>
                                                <option value="Fix">Fix Amount</option>
                                                <option value="Persen">Persentase %</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <input FormatNumber *ngIf="optionbiayaadminFc.value === 'Fix'" type="text" class="w-100 form-control input-sufix" [formControl]="biayaadminFc" style="font-family: 'SegoeUI'">
                                            <input  maxlength="5" *ngIf="optionbiayaadminFc.value === 'Persen'" type="text" class="w-100 form-control input-prefix" [formControl]="biayaadminFc"  style="font-family: 'SegoeUI'">
                                            <div class="sufix" *ngIf="optionbiayaadminFc.value === 'Fix'">Rp</div>
                                            <div class="prefix" *ngIf="optionbiayaadminFc.value === 'Persen'">%</div>
                                        </div>
                                        <div class="col-12" *ngIf="optionbiayaadminFc.value == ''">
                                            <span class="text-danger">Pilih Biaya Provisi.</span>
                                        </div>
                                        <div class="col-12" *ngIf="biayaadminFc.value == '' && optionbiayaadminFc.value != '' && optionbiayaadminFc.value != 'tidak'">
                                            <span class="text-danger">Biaya Admin tidak boleh kosong.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Biaya Provisi</div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-control" [formControl]="optionbiayaprovisiFc" (change)="changetypeselect('biayaprovisi')">
                                                <option [defaultSelected]=true hidden value="">Pilih</option>
                                                <option value="tidak">Tidak ada</option>
                                                <option value="Fix">Fix Amount</option>
                                                <option value="Persen">Persentase %</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <input FormatNumber *ngIf="optionbiayaprovisiFc.value === 'Fix'" type="text" class="w-100 form-control input-sufix" [formControl]="provisiFc" style="font-family: 'SegoeUI'">
                                            <input  maxlength="5" *ngIf="optionbiayaprovisiFc.value === 'Persen'" type="text" class="w-100 form-control input-prefix" [formControl]="provisiFc"  style="font-family: 'SegoeUI'">
                                            <div class="sufix" *ngIf="optionbiayaprovisiFc.value === 'Fix'">Rp</div>
                                            <div class="prefix" *ngIf="optionbiayaprovisiFc.value === 'Persen'">%</div>
                                        </div>
                                        <div class="col-12" *ngIf="optionbiayaprovisiFc.value == ''">
                                            <span class="text-danger">Pilih Biaya Provisi.</span>
                                        </div>
                                        <div class="col-12" *ngIf="provisiFc.value == '' && optionbiayaprovisiFc.value != '' && optionbiayaprovisiFc.value != 'tidak'">
                                            <span class="text-danger">Biaya Provisi tidak boleh kosong.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Asuransi</div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-control" [formControl]="optionasuransiFc"
                                                (change)="changetypeselect('asuransi')">
                                                <option [defaultSelected]=true hidden value="">Pilih</option>
                                                <option value="tidak">Tidak ada</option>
                                                <option value="Fix">Fix Amount</option>
                                                <option value="Persen">Persentase %</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <input FormatNumber *ngIf="optionasuransiFc.value === 'Fix'" type="text"
                                                class="w-100 form-control input-sufix" [formControl]="asuransiFc" style="font-family: 'SegoeUI'">
                                            <input maxlength="5" *ngIf="optionasuransiFc.value === 'Persen'" type="text"
                                                class="w-100 form-control input-prefix" [formControl]="asuransiFc"
                                                style="font-family: 'SegoeUI'">
                                            <div class="sufix" *ngIf="optionasuransiFc.value === 'Fix'">Rp</div>
                                            <div class="prefix" *ngIf="optionasuransiFc.value === 'Persen'">%</div>
                                        </div>
                                        <div class="col-12" *ngIf="optionasuransiFc.value == ''">
                                            <span class="text-danger">Pilih Asuransi.</span>
                                        </div>
                                        <div class="col-12" *ngIf="asuransiFc.value == '' && optionasuransiFc.value != '' && optionasuransiFc.value != 'tidak'">
                                            <span class="text-danger">Asuransi tidak boleh kosong.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Dana JPK</div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-control" [formControl]="optionjpkFc"
                                                (change)="changetypeselect('jpk')">
                                                <option [defaultSelected]=true hidden value="">Pilih</option>
                                                <option value="tidak">Tidak ada</option>
                                                <option value="Fix">Fix Amount</option>
                                                <option value="Persen">Persentase %</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <input FormatNumber *ngIf="optionjpkFc.value === 'Fix'" type="text"
                                                class="w-100 form-control input-sufix" [formControl]="jpkFc" style="font-family: 'SegoeUI'">
                                            <input maxlength="5" *ngIf="optionjpkFc.value === 'Persen'" type="text"
                                                class="w-100 form-control input-prefix" [formControl]="jpkFc"
                                                style="font-family: 'SegoeUI'">
                                            <div class="sufix" *ngIf="optionjpkFc.value === 'Fix'">Rp</div>
                                            <div class="prefix" *ngIf="optionjpkFc.value === 'Persen'">%</div>
                                        </div>
                                        <div class="col-12" *ngIf="optionjpkFc.value == ''">
                                            <span class="text-danger">Pilih Dana JPK.</span>
                                        </div>
                                        <div class="col-12" *ngIf="jpkFc.value == '' && optionjpkFc.value != '' && optionjpkFc.value != 'tidak'">
                                            <span class="text-danger">Dana JPK tidak boleh kosong.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Simpanan Pokok</div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-control" [formControl]="optionsimpananpokokFc" (change)="changetypeselect('simpananpokok')" >
                                                <option [defaultSelected]=true hidden value="">Pilih</option>
                                                <option value="tidak">Tidak ada</option>
                                                <option value="Fix">Fix Amount</option>
                                                <!-- <option value="Persen">Persentase %</option> -->
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <input FormatNumber *ngIf="optionsimpananpokokFc.value === 'Fix'"  type="text" class="w-100 form-control input-sufix" [formControl]="simpananpokokFc" style="font-family: 'SegoeUI'">
                                            <input  maxlength="5" *ngIf="optionsimpananpokokFc.value === 'Persen'"  type="text" class="w-100 form-control input-prefix" [formControl]="simpananpokokFc" style="font-family: 'SegoeUI'">
                                            <div class="sufix" *ngIf="optionsimpananpokokFc.value === 'Fix'">Rp</div>
                                            <div class="prefix" *ngIf="optionsimpananpokokFc.value === 'Persen'">%</div>
                                        </div>
                                        <div class="col-12" *ngIf="optionsimpananpokokFc.value == ''">
                                            <span class="text-danger">Pilih Simpanan Pokok.</span>
                                        </div>
                                        <div class="col-12" *ngIf="simpananpokokFc.value == '' && optionsimpananpokokFc.value != '' && optionsimpananpokokFc.value != 'tidak'">
                                            <span class="text-danger">Simpanan Pokok tidak boleh kosong.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="row">
                                <div class="col-6">Simpanan Wajib</div>
                                <div class="col-6">
                                    <input FormatNumber type="text" class="w-100 form-control input-sufix"
                                        [formControl]="simpananwajibFc" style="font-family: 'SegoeUI'">
                                    <div class="sufix">Rp</div>
                                    <span class="text-danger"*ngIf="simpananwajibFc.value == ''">Simpanan Wajib tidak boleh kosong.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2" *ngIf="editfieldketerlambatan">
                            <div class="row">
                                <div class="col-6">Denda Keterlambatan</div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <input FormatNumber type="text" *ngIf="typedendaketerlambatanFc.value === 'Fix'" class="w-100 form-control" [formControl]="dendaketerlambatanFc" [class.input-sufix]="typedendaketerlambatanFc.value === 'Fix'" [class.input-prefix]="typedendaketerlambatanFc.value === 'Persen'" style="font-family: 'SegoeUI'">
                                            <div class="sufix" *ngIf="typedendaketerlambatanFc.value === 'Fix'">Rp</div>
                                            <input maxlength="5" type="text" *ngIf="typedendaketerlambatanFc.value === 'Persen'" class="w-100 form-control" [formControl]="dendaketerlambatanFc" [class.input-sufix]="typedendaketerlambatanFc.value === 'Fix'" [class.input-prefix]="typedendaketerlambatanFc.value === 'Persen'" style="font-family: 'SegoeUI'">
                                            <div class="prefix" *ngIf="typedendaketerlambatanFc.value === 'Persen'">%</div>
                                            <span class="text-danger" *ngIf="dendaketerlambatanFc.value == ''">Denda Keterlambatan tidak boleh kosong.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2" *ngIf="editfieldpelunasan">
                            <div class="row">
                                <div class="col-6">Denda Pelunasan Awal</div>
                                <div class="col-6">
                                    <input FormatNumber *ngIf="typepelunasanawalFc.value === 'Fix'" type="text" class="w-100 form-control" [formControl]="dendapelunasanawalFc" [class.input-sufix]="typepelunasanawalFc.value === 'Fix'" [class.input-prefix]="typepelunasanawalFc.value === 'Persen'" style="font-family: 'SegoeUI'">
                                        <div class="sufix" *ngIf="typepelunasanawalFc.value === 'Fix'">Rp</div>
                                    <input maxlength="5"  *ngIf="typepelunasanawalFc.value === 'Persen'" type="text" class="w-100 form-control" [formControl]="dendapelunasanawalFc" [class.input-sufix]="typepelunasanawalFc.value === 'Fix'" [class.input-prefix]="typepelunasanawalFc.value === 'Persen'" style="font-family: 'SegoeUI'">
                                        <div class="prefix" *ngIf="typepelunasanawalFc.value === 'Persen'">%</div>

                                    <span class="text-danger" *ngIf="dendapelunasanawalFc.value == ''">Denda Pelunasan Awal tidak boleh kosong.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center" *ngIf="!produkshowcreate">
                    Load Data ...
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12" *ngIf="statusmodal === 'create'">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="aktivasi('create')">Aktivasi</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ngIf="statusmodal === 'active'">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="ubah('edit')">Ubah</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="btnnonaktif('statusnonaktif')">Non Aktif</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ngIf="statusmodal === 'inactive'">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="ubah('edit')">Ubah</button>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-primary w-100" (click)="btnaktif('statusaktif')">Aktivasi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-notification></app-notification>

