<div class="col-md-12 container-fluid">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h2><strong>Collection Data</strong></h2>
        </div>
    </div>
</div>

<div class="col-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body" style="min-height: 59vh;">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-between">
                        <div class="col-3">
                            <h3>Tanggal</h3>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="search..."
                                    (keyup)="searchnavbar($event,'default' , searchdefault.value)" #searchdefault />
                                <span class="input-group-append">
                                    <span class="input-group-text add-on white"
                                        (click)="searchclickdefault(searchdefault.value)">
                                        <i class="icon-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 p-4 mb-0">
                    <div class="row">
                        <table id="t01">
                            <tr style="padding-right:0;">
                                <th style="font-size: 11pt;">No</th>
                                <th style="font-size: 11pt;width: 14%;">AO <span class="icon-sort pl-2"
                                        (click)="sortinghandle('ao')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;width: 13%;">Member Name<span class="icon-sort pl-2"
                                        (click)="sortinghandle('cost')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;width: 13%;">Waktu<span class="icon-sort pl-2"
                                        (click)="sortinghandle('waktu')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;width: 13%;">Jumlah<span class="icon-sort pl-2"
                                        (click)="sortinghandle('jumlah')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;width: 13%;">Cicilan Ke<span class="icon-sort pl-2"
                                        (click)="sortinghandle('cicilan')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;width: 13%;">Pokok<span class="icon-sort pl-2"
                                        (click)="sortinghandle('pokok')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                                <th style="font-size: 11pt;width: 13%;">Sukarela<span class="icon-sort pl-2"
                                        (click)="sortinghandle('sukarela')"></span>
                                    <input type="text" name="" id="" placeholder="search" class="form-control w-100"
                                        style="font-size: 10pt;"></th>
                            </tr>
                            <tr style="border-bottom: 2px solid darkcyan; padding-right: 0;"
                                *ngFor="let data of datacollection| paginate: {itemsPerPage: 10, currentPage: p , totalItems: 10}">
                                <td>{{data.number}}.</td>
                                <td>{{data.ao_name}}</td>
                                <td>{{data.member_name}}</td>
                                <td>{{data.createdAt | slice : 0 : 10}}</td>
                                <td>{{data.cicilan_jumlah}}</td>
                                <td>{{data.cicilan_ke}}</td>
                                <td>{{data.pokok}}</td>
                                <td>{{data.sukarela}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <pagination-controls (pageChange)="p = $event ; pageclick($event)">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>