<div class="col-md-12 container-fluid">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h3>{{titlepage}}</h3>
        </div>
    </div>
</div>

<div class="col-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-between">
                        <div class="col-3">
                            <h3>Tanggal</h3>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="search..." />
                                <span class="input-group-append">
                                    <span class="input-group-text add-on white">
                                        <i class="icon-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 p-4 mb-0" >
                    <div class="row">
                        <div class="col-1">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey; height: 60px;">
                                    <div class="row">
                                        <div class="col-7 text-right pt-3">NO</div>
                                        <div class="col-5 pl-0 pt-3">
                                            <span class="icon-sort" (click)="sortinghandle('no')"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey; height: 60px;">
                                    <div class="row">
                                        <div class="col-7  text-right pt-3">AO</div>
                                        <div class="col-5 pl-0 pt-3">
                                            <span class="icon-sort" (click)="sortinghandle('ao')"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 60px;">
                                    <div class="row">
                                        <div class="col-8  text-right pt-3">Cost</div>
                                        <div class="col-4 pl-0 pt-3">
                                            <span class="icon-sort" (click)="sortinghandle('cost')"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 60px;">
                                    <div class="row">
                                        <div class="col-8  text-right pt-3">Waktu</div>
                                        <div class="col-4 pl-0 pt-3">
                                            <span class="icon-sort" (click)="sortinghandle('waktu')"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 60px;">
                                    <div class="row">
                                        <div class="col-8  text-right pt-3">Jumlah</div>
                                        <div class="col-4 pl-0 pt-3">
                                            <span class="icon-sort" (click)="sortinghandle('jumlah')"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 60px;">
                                    <div class="row">
                                        <div class="col-8  text-right pt-3">Cicilan Ke</div>
                                        <div class="col-4 pl-0 pt-3">
                                            <span class="icon-sort" (click)="sortinghandle('cicilanke')"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 60px;">
                                    <div class="row">
                                        <div class="col-8  text-right pt-3">Pokok</div>
                                        <div class="col-4 pl-0 pt-3">
                                            <span class="icon-sort" (click)="sortinghandle('pokok')"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12 p-1" style="border: 1px solid grey;height: 60px;">
                                    <div class="row">
                                        <div class="col-8  text-right pt-3">Sukarela</div>
                                        <div class="col-4 pl-0 pt-3">
                                            <span class="icon-sort" (click)="sortinghandle('sukarela')"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 p-1" style="border: 1px solid grey;">
                                        <input type="text" class="form-control" placeholder="search..." />
                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ngFor="let dataloan of dataloopdummy | paginate: { itemsPerPage: 5, currentPage: p }; let index = index">
                            <div class="row">
                                <div class="col-1 p-4" style="border: 1px solid grey;">{{index + 1}}</div>
                                <div class="col-1 p-4" style="border: 1px solid grey;">{{dataloan.ao}}</div>
                                <div class="col-1 p-4" style="border: 1px solid grey;">{{dataloan.cost}}</div>
                                <div class="col-1 p-4" style="border: 1px solid grey;">{{dataloan.waktu}}</div>
                                <div class="col-2 p-4" style="border: 1px solid grey;">{{dataloan.jumlah}}</div>
                                <div class="col-2 p-4" style="border: 1px solid grey;">{{dataloan.cicilanke}}</div>
                                <div class="col-2 p-4" style="border: 1px solid grey;">{{dataloan.pokok}}</div>
                                <div class="col-2 p-4" style="border: 1px solid grey;">{{dataloan.sukarela}}</div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <pagination-controls (pageChange)="p = $event ; pageclick($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>