<app-modalsuccess *ngIf="showsuccessmodal"></app-modalsuccess>
<app-modalerror *ngIf="showerrormodal"></app-modalerror>
<div class="col-md-12">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h2><strong>Loan Formula</strong></h2>
        </div>
    </div>
</div>
<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
            <div class="row">
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-4">
                            <h3>Formula Name</h3>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" #formulaname [formControl]="fcformulaname">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input [checked]="getminloanamount" (change)="FieldsChange($event,'minloanamount')"
                                type="checkbox" />
                        </div>
                        <div class="col-3">
                            Min Loan amount
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" #minloanamount [formControl]="fcminamount">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input [checked]="getmaxloanamount" (change)="FieldsChange($event,'maxloanamount')"
                                type="checkbox" />
                        </div>
                        <div class="col-3">
                            Max Loan amount
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" #maxloanamount [formControl]="fcmaxamount">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                                <input [checked]="getkelipatan" (change)="FieldsChange($event,'kelipatan')"
                                    type="checkbox" />
                        </div>
                        <div class="col-3">
                            Kelipatan
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" #kelipatan [formControl]="fckelipatan">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 mb-4" style="border: 0.8px solid grey;"></div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input [checked]="getmintenure" (change)="FieldsChange($event,'mintenure')"
                                type="checkbox" />
                        </div>
                        <div class="col-3">
                            Min Tenure
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" #mintenure [formControl]="fcmintenure">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input [checked]="getmaxtenure" (change)="FieldsChange($event,'maxtenure')"
                                type="checkbox" />
                        </div>
                        <div class="col-3">
                            Max Tenure
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" #maxtenure [formControl]="fcmaxtenure">
                        </div>
                        <div class="col-2">
                            <select style="width: 100%;" class="form-control" [formControl]="fcdatetenure">
                                <option value="" [selected]="dateselected">Select</option>
                                <option value="hari">Hari</option>
                                <option value="minggu">Minggu</option>
                                <option value="bulan">Bulan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 mb-4" style="border: 0.8px solid grey;"></div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input type="radio" name="serviceradio" (change)="FieldsChange($event,'servicefee')">
                        </div>
                        <div class="col-3">
                            Service Fee (%)
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-8"> <input type="text" class="form-control" [formControl]="fcservicefee"></div>
                                <!-- <div class="col-3">Per</div> -->
                            </div>
                        </div>
                        <!-- <div class="col-2">
                                <select style="width: 100%;" class="form-control" [formControl]="fcdatefee">
                                    <option value="hari" [selected]="dateselected">Hari</option>
                                    <option value="minggu">Minggu</option>
                                    <option value="bulan">Bulan</option>
                                </select>
                        </div> -->
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input type="radio" name="serviceradio" (change)="FieldsChange($event,'servicefix')">
                        </div>
                        <div class="col-3">
                            Service Fix
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-8"> <input type="text" class="form-control" [formControl]="fcservicefix"></div>
                                <div class="col-3">Per</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <select style="width: 100%;" class="form-control" [formControl]="fcdateservicefee">
                                <option value="" [selected]="dateselected">Select</option>
                                <option value="hari">Hari</option>
                                <option value="minggu">Minggu</option>
                                <option value="bulan">Bulan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 mb-4" style="border: 0.8px solid grey;"></div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-primary" type="button" (click)="addotherfee()">Add Other Fee</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-4">
                            Fee Name
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input type="radio" name="otherservice">
                        </div>
                        <div class="col-3">
                            (%)
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-8"> <input type="text" class="form-control"></div>
                                <!-- <div class="col-3">Per</div> -->
                            </div>
                        </div>
                        <div class="col-2">
                            <!-- <select style="width: 100%;" class="form-control">
                                <option value="dummy">dummy</option>
                            </select> -->
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input type="radio" name="otherservice">
                        </div>
                        <div class="col-3">
                            (fix)
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-8"> <input type="text" class="form-control"></div>
                                <div class="col-3">Per</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <select style="width: 100%;" class="form-control" >
                                <option value="" [selected]="dateselected">Select</option>
                                <option value="hari">Hari</option>
                                <option value="minggu">Minggu</option>
                                <option value="bulan">Bulan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row" id="appendfee" *ngFor="let data of loopotherfee">
                        <div class="col-12 mt-1">
                            <div class="row">
                                <div class="col-4">
                                    Fee Name
                                </div>
                                <div class="col-3">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-1">
                            <div class="row">
                                <div class="col-1">
                                    <input type="radio" name="otherservice">
                                </div>
                                <div class="col-3">
                                    (%)
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-8"> <input type="text" class="form-control"></div>
                                        <!-- <div class="col-3">Per</div> -->
                                    </div>
                                </div>
                                <div class="col-2">
                                    <!-- <select style="width: 100%;" class="form-control">
                                        <option value="dummy">dummy</option>
                                    </select> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-1">
                            <div class="row">
                                <div class="col-1">
                                    <input type="radio" name="otherservice">
                                </div>
                                <div class="col-3">
                                    (fix)
                                </div>
                                <div class="col-3">
                                    <div class="row">
                                        <div class="col-8"> <input type="text" class="form-control"></div>
                                        <div class="col-3">Per</div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <select style="width: 100%;" class="form-control" >
                                        <option value="" [selected]="dateselected">Select</option>
                                        <option value="hari">Hari</option>
                                        <option value="minggu">Minggu</option>
                                        <option value="bulan">Bulan</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1 mt-5">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <button class="btn btn-primary w-100" type="button"
                                (click)="saveloanformula()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>