<app-modalsuccess *ngIf="showsuccessmodal"></app-modalsuccess>
<app-modalerror *ngIf="showerrormodal"></app-modalerror>
<div class="col-md-12">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h3>{{titlepage}}</h3>
        </div>
    </div>
</div>
<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
            <div class="row">
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-4">
                            <h3>Formula Name</h3>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control-use">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input [checked]="getminloanammount" (change)="FieldsChange($event,'minloanammount')"
                                type="checkbox" />
                        </div>
                        <div class="col-3">
                            Min Loan Ammount
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control-use">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input [checked]="getmaxloanammount" (change)="FieldsChange($event,'maxloanammount')"
                                type="checkbox" />
                        </div>
                        <div class="col-3">
                            Max Loan Ammount
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control-use">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                                <input [checked]="getkelipatan" (change)="FieldsChange($event,'kelipatan')"
                                    type="checkbox" />
                        </div>
                        <div class="col-3">
                            Kelipatan
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control-use">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 mb-4" style="border: 0.8px solid grey;"></div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input [checked]="getmintenure" (change)="FieldsChange($event,'mintenure')"
                                type="checkbox" />
                        </div>
                        <div class="col-3">
                            Min Tenure
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control-use">
                        </div>
                        <div class="col-2">
                            <select style="width: 100%;" class="form-control-use">
                                <option value="hari">Hari</option>
                                <option value="minggu">Minggu</option>
                                <option value="bulan">Bulan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input [checked]="getmaxtenure" (change)="FieldsChange($event,'maxtenure')"
                                type="checkbox" />
                        </div>
                        <div class="col-3">
                            Max Tenure
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control-use">
                        </div>
                        <div class="col-2">
                            <select style="width: 100%;" class="form-control-use">
                                <option value="hari">Hari</option>
                                <option value="minggu">Minggu</option>
                                <option value="bulan">Bulan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 mb-4" style="border: 0.8px solid grey;"></div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input type="radio" name="serviceradio" >
                        </div>
                        <div class="col-3">
                            Service Fee (%)
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3">Per</div>
                                <div class="col-8"> <input type="text" class="form-control-use"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <select style="width: 100%;" class="form-control-use">
                                <option value="dummy">dummy</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input type="radio" name="serviceradio">
                        </div>
                        <div class="col-3">
                            Service Fix
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3">Per</div>
                                <div class="col-8"> <input type="text" class="form-control-use"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <select style="width: 100%;" class="form-control-use">
                                <option value="dummy">dummy</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 mb-4" style="border: 0.8px solid grey;"></div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-primary" type="button" (click)="addotherfee()">Add Other Fee</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-4">
                            Fee Name
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control-use">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input type="radio" name="otherservice">
                        </div>
                        <div class="col-3">
                            (%)
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3">Per</div>
                                <div class="col-8"> <input type="text" class="form-control-use"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <select style="width: 100%;" class="form-control-use">
                                <option value="dummy">dummy</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-1">
                    <div class="row">
                        <div class="col-1">
                            <input type="radio" name="otherservice">
                        </div>
                        <div class="col-3">
                            (fix)
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="col-3">Per</div>
                                <div class="col-8"> <input type="text" class="form-control-use"></div>
                            </div>
                        </div>
                        <div class="col-2">
                            <select style="width: 100%;" class="form-control-use">
                                <option value="dummy">dummy</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row" id="appendfee">

                    </div>
                </div>
                <div class="col-12 mt-1 mt-5">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <button class="btn btn-primary w-100" type="button"
                                (click)="saveloanformula()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>