<app-modalpopup *ngIf="showmodalcreate">
    <div class="modal-content" style="margin-top: 10%;">
        <div class="modal-header" style="border: none;">
          <h3 class="modal-title" style="border: none;">Create Account AO</h3>
          <button type="button" class="close" (click)="closemodal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="border:none">
            <div class="row justify-content-center">
                <div class="col-10">
                    <app-alerts *ngIf="trigeralerts"></app-alerts>
                </div>
                <div class="col-10">
                    <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                        <input type="text" class="form-control form-control-md" placeholder="Fullname" #fullname>
                    </div>
                    <div class="form-group has-icon"><i class="icon-phone2"></i>
                        <input type="number" class="form-control form-control-md f-12" placeholder="HP" #hp>
                    </div>
                    <div class="form-group has-icon"><i class="icon-message"></i>
                        <input type="email" class="form-control form-control-md f-12" placeholder="Email" #email>
                    </div>
                    <div class="form-group has-icon"><i class="icon-calendar"></i>
                        <input type="date" class="form-control form-control-md f-12" placeholder="Birthday" #birthday>
                    </div>
                </div>
            </div>
        </div>
        <div style="border:none;" class="col-12" style="background-color: grey; padding: 10px;">
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-block w-100"
                    (click)="submitmodal(fullname.value,hp.value,email.value,birthday.value)">Submit</button>
                </div>
            </div>
        </div>
      </div>
</app-modalpopup>
<app-modalpopup *ngIf="showmodalview">
    <div class="modal-content" style="margin-top: 10%;">
        <div class="modal-header" style="border: none;">
          <button class="btn btn-primary" type="button" (click)="editmodal()">Edit</button>
          <button type="button" class="close" (click)="closemodal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="border:none">
            <div class="row justify-content-center">
                <div class="col-10">
                    <app-alerts *ngIf="trigeralerts"></app-alerts>
                </div>
                <div class="col-10">
                    <div class="form-group has-icon"><i class=" icon-people"></i>
                        <input type="text" class="form-control form-control-md"  #id disabled id="inputid" placeholder="id">
                    </div>
                    <div class="form-group has-icon"><i class="icon-book"></i>
                        <input type="text" class="form-control form-control-md f-12" #fullname disabled id="inputfullname" placeholder="fullname">
                    </div>
                    <div class="form-group has-icon"><i class="icon-phone2"></i>
                        <input type="number" class="form-control form-control-md f-12" #hp disabled id="inputhp" placeholder="hp">
                    </div>
                    <div class="form-group has-icon"><i class="icon-message "></i>
                        <input type="email" class="form-control form-control-md f-12" #email disabled id="inputemail" placeholder="email">
                    </div>
                    <div class="form-group has-icon"><i class="icon-calendar"></i>
                        <input type="date" class="form-control form-control-md f-12" #birthday disabled id="inputbirthday">
                    </div>
                </div>
            </div>
        </div>
        <div style="border:none;" class="col-12" style="background-color: grey; padding: 10px;" *ngIf="showbuttonsava">
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-block w-100"
                    (click)="savemodalview(fullname.value , hp.value , email.value,birthday.value)">Save</button>
                </div>
            </div>
        </div>
      </div>
</app-modalpopup>
<app-modalpopup *ngIf="showmodalreactive">
    <div class="modal-content" style="margin-top: 10%;">
        <div class="modal-header" style="border: none;">
          <button type="button" class="close" (click)="closemodal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="border:none">
            <div class="row justify-content-center">
                <h3>Reactive</h3>
            </div>
        </div>
        <div style="border:none;" class="col-12" style="background-color: grey; padding: 10px;">
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-primary btn-block w-100"
                    (click)="savemodalreactive()">Save</button>
                </div>
            </div>
        </div>
      </div>
</app-modalpopup>
<app-modalsuccess *ngIf="showsuccessmodal"></app-modalsuccess>
<app-modalerror *ngIf="showerrormodal"></app-modalerror>
<div class="col-md-12">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h3>{{titlepage}}</h3>
        </div>
    </div>
</div>
<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary" (click)="createaccountmodal()"
                        style="font-size: 10pt;">Create new
                        account</button>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="search..." />
                        <span class="input-group-append">
                            <span class="input-group-text add-on white">
                                <i class="icon-search"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 p-1" style="border: 1px solid grey; height: 60px;">
                                            <div class="row">
                                                <div class="col-7">ID</div>
                                                <div class="col-5">
                                                    <span class="icon-arrow_drop_up"></span>
                                                    <span class="icon-arrow_drop_down"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 p-1" style="border: 1px solid grey;">
                                            <input type="text" class="form-control" placeholder="search..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 p-1" style="border: 1px solid grey; height: 60px;">
                                            <div class="row">
                                                <div class="col-7">Name</div>
                                                <div class="col-5">
                                                    <span class="icon-arrow_drop_up"></span>
                                                    <span class="icon-arrow_drop_down"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 p-1" style="border: 1px solid grey;">
                                            <input type="text" class="form-control" placeholder="search..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 p-1" style="border: 1px solid grey;height: 108px;">
                                            <div class="row">
                                                <div class="col-12">Action</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12"
                                    *ngFor="let data of dataloopdummy | paginate: { itemsPerPage: 5, currentPage: p }; let index = index">
                                    <div class="row">
                                        <div class="col-4 p-4" style="border: 1px solid grey;">{{data.id}}</div>
                                        <div class="col-4 p-4" style="border: 1px solid grey;">{{data.name}}</div>
                                        <div class="col-4 p-4" style="border: 1px solid grey;">
                                            <div class="row">
                                                <button title="Reactive" class="col-6 icon-rate_review"
                                                    style="border: none; background: none; font-size: 20px;"
                                                    type="button" id="id{{index}}" (click)="viewclick(index)"></button>
                                                <button title="Reactive" class="col-6 icon-phonelink_off "
                                                    style="border: none; background: none; font-size: 20px;"
                                                    type="button" id="id{{index}}" (click)="reactiveclick()"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <pagination-controls (pageChange)="p = $event ; pageclick($event)">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>