<div class="col-md-12">
    <div class="card r-0 b-0">
        <app-modalpopup *ngIf="showmodalcreate">
            <div class="row justify-content-center">
                <div class="col-12 text-center mt-5">
                    <h5>Create User Account</h5>
                </div>
                <div class="col-10 mt-5">
                    <form>
                        <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                            <input type="text" class="form-control form-control-lg f-12" placeholder="Username"
                                #userinput>
                        </div>
                        <div class="form-group has-icon"><i class="icon-lock"></i>
                            <input type="password" class="form-control form-control-lg f-12" placeholder="Password"
                                #password>
                        </div>
                    </form>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-success btn-block f-12"
                                (click)="submitmodal()">Submit</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-danger btn-block f-12"
                                (click)="closemodal()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </app-modalpopup>
    </div>
</div>
<div class="col-md-12">
    <div class="card r-0 b-0">
        <div class="card-body">
            <h3>{{titlepage}}</h3>
        </div>
    </div>
</div>
<div class="col-md-12 mt-2">
    <div class="card r-0 b-0">
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-md-3">
                    <button type="button" class="btn btn-primary" (click)="createaccountmodal()">Create new
                        account</button>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="search..." />
                        <span class="input-group-append">
                            <span class="input-group-text add-on white">
                                <i class="icon-search"></i>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 p-1" style="border: 1px solid grey; height: 60px;">
                                            <div class="row">
                                                <div class="col-7">ID</div>
                                                <div class="col-5">
                                                    <span class="icon-arrow_drop_up"></span>
                                                    <span class="icon-arrow_drop_down"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 p-1" style="border: 1px solid grey;">
                                            <input type="text" class="form-control" placeholder="search..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 p-1" style="border: 1px solid grey; height: 60px;">
                                            <div class="row">
                                                <div class="col-7">Name</div>
                                                <div class="col-5">
                                                    <span class="icon-arrow_drop_up"></span>
                                                    <span class="icon-arrow_drop_down"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 p-1" style="border: 1px solid grey;">
                                            <input type="text" class="form-control" placeholder="search..." />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12 p-1" style="border: 1px solid grey;height: 108px;">
                                            <div class="row">
                                                <div class="col-12">Action</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" *ngFor="let data of dataloopdummy | paginate: { itemsPerPage: 5, currentPage: p }; let index = index">
                                    <div class="row">
                                        <div class="col-4 p-4" style="border: 1px solid grey;">{{data.id}}</div>
                                        <div class="col-4 p-4" style="border: 1px solid grey;">{{data.name}}</div>
                                        <div class="col-4 p-4" style="border: 1px solid grey;">
                                            <div class="row">
                                                <button class="col-6 icon-rate_review"
                                                    style="border: none; background: none; font-size: 20px;" type="button"></button>
                                                <button class="col-6 icon-check-circle"
                                                    style="border: none; background: none; font-size: 20px;" type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <pagination-controls (pageChange)="p = $event ; pageclick($event)"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>