<div class="modal" aria-hidden="true" style="display: block;background-color: rgba(0, 0, 0, 0.8);z-index: 9999;">
    <div class="modal-dialog" style="margin-top: 15%;">
        <div class="modal-content" style="border:none; background: none;">
            <div class="modal-header" style="border:none">
            </div>
            <div class="modal-body" style="border:none">
                <div class="row">
                    <div class="col-12 text-center mt-5">    
                          <div class="spinner-grow text-light" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <div class="spinner-grow text-light" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <div class="spinner-grow text-light" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <div class="spinner-grow text-light" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <div class="spinner-grow text-light" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <div class="spinner-grow text-light" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>