<div class="height-full light">
    <div id="primary" class="content-area">
        <div class="container">
            <div class="col-12 mx-lg-auto p-t-b-80">
                <header class="text-center mb-5">
                    <h1>oops!</h1>
                    <h1>Something went wrong. The page you are looking for is gone</h1>
                </header>
                <div class="pt-5 p-t-100 text-center">
                    <p class="s-256">404</p>
                </div>
            </div>
        </div>
    </div>
</div>